
			<!-- BEGIN #content -->
			<main id="content">
				
				<!-- BEGIN .container -->
				<div class="container">
				
					<div class="otg otg-h-30">
						<div class="otg-item otg-u-4">
						
							<div class="ot-title-block">
								<h2>@lang('gallery.tittle') </h2>
							</div>
							
							<div class="ot-content-block">
								
								<div class="photo-block-grid photo-grid-large">
									<div class="otg otg-items-3 otg-h-30 otg-v-30">
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-37.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Nostrud omnesque ocurreret saperet</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 @lang('gallery.photocount')</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-38.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando quae vim prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-39.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Ferri neglegentur sensibus assentior</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-40.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando quae vim prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-41.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando vim sit prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-42.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Ferri neglegentur sensibus assentior</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-37.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Nostrud omnesque ocurreret saperet</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-38.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando quae vim prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-39.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Ferri neglegentur sensibus assentior</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-40.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando quae vim prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-41.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Et quando vim sit prompta partiendo</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
										<div class="otg-item">

											<div class="item">
												<a href="photo-gallery-single.html" class="item-header">
													<i class="material-icons">&#xE412;</i>
													<img src="images/photos/image-42.jpg" alt="" />
												</a>
												<div class="item-content">
													<h3><a href="photo-gallery-single.html">Ferri neglegentur sensibus assentior</a></h3>
													<div class="item-meta">
														<span class="item-meta-item"><i class="material-icons">&#xE412;</i> 10 photos</span>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								
								<div class="ot-panel-pager">
									<a class="prev page-numbers" href="#"><i class="fa fa-angle-double-left"></i>@lang('gallery.previous') </a>
									<a class="page-numbers" href="#">1</a>
									<span class="page-numbers current">2</span>
									<a class="page-numbers" href="#">3</a>
									<a class="page-numbers" href="#">4</a>
									<a class="page-numbers" href="#">5</a>
									<a class="next page-numbers" href="#">@lang('gallery.next') <i class="fa fa-angle-double-right"></i></a>
								</div>
								
			
								
						
								
							</div>
							
						</div>
						<div class="otg-item otg-u-2">
							<!-- BEGIN .sidebar -->
							<aside class="sidebar">
								
								<!-- BEGIN .widget -->
								<div class="widget">
									<form method="get" class="search-form" action="#">
										<label>
											<span class="screen-reader-text">Search for:</span>
											<input type="search" class="search-field" placeholder="Search …" value="" name="s" title="Search for:">
										</label>
										<input type="submit" class="search-submit screen-reader-text" value="Search">
									</form>
								<!-- END .widget -->
								</div>
								
								<!-- BEGIN .widget -->
								<div class="widget">
									<h3>Widget title</h3>
									<div class="widget-content ot-w-article-list">

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-18.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">Meet DC's Legends of Tomorrow</a></h4>
												<span class="item-meta">
													<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
												</span>
											</div>
										</div>

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-19.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">YOU DECIDE: The Best Movie of vivendo 2015!</a></h4>
												<span class="item-meta">
													<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
												</span>
											</div>
										</div>

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-16.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">Oblique consequuntur ius nam ne vivendo</a></h4>
												<span class="item-meta">
													<span class="item-meta-item"><i class="material-icons">access_time</i>January 12, 2015</span>
												</span>
											</div>
										</div>

									</div>
								<!-- END .widget -->
								</div>
								
								<!-- BEGIN .widget -->
								<div class="widget">
									<h3><span>Tag cloud</span></h3>
									<div class="tagcloud">
										<a href="blog.html">fabulas</a>
										<a href="blog.html">similique</a>
										<a href="blog.html">oportere</a>
										<a href="blog.html">pertinacia</a>
										<a href="blog.html">ocurreret</a>
										<a href="blog.html">possim</a>
										<a href="blog.html">elaboraret</a>
										<a href="blog.html">ocurreret</a>
										<a href="blog.html">onas</a>
										<a href="blog.html">oportere</a>
										<a href="blog.html">propriae</a>
									</div>
								<!-- END .widget -->
								</div>
								
								<!-- BEGIN .widget -->
								<div class="widget">
									<h3><span>Popular articles</span></h3>
									<div class="ot-widget-article-list">

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-11.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">If You Really Want To, You'll Be Able To Immerse Yourself In The World</a></h4>
											</div>
										</div>

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-12.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">Cum delenit luptatum et, suscipit legendos nec cu.</a></h4>
											</div>
										</div>

										<div class="item">
											<div class="item-header">
												<a href="post.html"><img src="images/photos/image-13.jpg" alt="" /></a>
											</div>
											<div class="item-content">
												<h4><a href="post.html">Mea nostro fabulas disputationi ex, quo au dire prompta</a></h4>
											</div>
										</div>

									</div>
									<a href="blog.html" class="ot-widget-button">View more articles</a>
								<!-- END .widget -->
								</div>
								
								<!-- BEGIN .widget -->
								<div class="widget">
									<h3><span>Advertisement space</span></h3>
									<div class="do-space">
										<a href="http://orange-themes.com" target="_blank"><img src="images/aspace-2.jpg" alt="" /></a>
									</div>
								<!-- END .widget -->
								</div>
								
							<!-- END .sidebar -->
							</aside>
						</div>
					</div>

				<!-- END .container -->
				</div>
				
			<!-- BEGIN #content -->
			</main>
		