
/* Main color scheme */

.widget .search-form > input,.ot-panel-pager a.page-numbers:hover,.ot-panel-pager span.page-numbers,.ot-panel-pager a.ot-pager-button.active,.ot-panel-pager a.ot-pager-button:hover,#header,.ot-responsive-menu-header {
	background-color: #383B43;
}


/* Main menu color */

#main-menu-wrapper .otm > ul,#main-menu-wrapper {
	background-color: #2f323b;
}


/* Main menu second */

#second-menu-wrapper .otm > ul,#second-menu-wrapper {
	background-color: #d8d8d8;
}


/* Accent color */

.ot-shortcode-tabs:not(.style-2)>ul>li.active,.pos-photo-gallery>a.right,.ot-w-comments-list .item .item-meta .item-meta-item.meta-button,.ot-article-list-large .item-categories,.txt-msg-ot i,.hd-article-block-grid .item-content .item-categories,.video-block-grid .item-content .item-categories,a:hover {
	color: #2797d1;
}

.ot-shortcode-tabs:not(.style-2)>ul>li.active,.widget > h3,.photo-gallery-thumbs-inner .item.active:hover,.photo-gallery-thumbs-inner .item.active,.ot-form-login p a:hover,.ot-title-block {
	border-color: #2797d1;
}

.photo-gallery-nav-right:active,.photo-gallery-nav-right:focus,.photo-gallery-nav-right,.photo-gallery-nav-left:active,.photo-gallery-nav-left:focus,.photo-gallery-nav-left,.button.ot-shortcode-button,.ot-short-button,a.button.ot-shortcode-button,button,input[type=submit],.article-main-next-prev a:hover,.article-review-score {
    background-color: #2797D1;
}




/* Titles & menu fonts */

.otm>ul li>a, h1, h2, h3, h4, h5, h6, .portus-article-slider-big .item-article-title, .article-list-full-width .item .item-title, .article-slider-full-small .item-article-title {
	font-family: "Open Sans";
}


/* Paragraph text */

body, p {
	font-family: "Open Sans";
}
