@charset UTF-8;

/*------------------------------------------------------------------
[Google Fonts]
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[Style Index]

0. Reset
1. Main header
2. Main menu
3. Content styling
4. Comments
5. Photo gallery
6. Sidebar styling
7. Footer
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[0. Reset]

Reseting styles for individual theme
-------------------------------------------------------------------*/

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: bottom;
	background: transparent;
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	color: #5e5e5e;
	height: 100%;
	min-height: 100%;
	background-color: #fff;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	color: #5E5E5E;
	text-decoration: none;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

a:hover {
	color: #2797d1;
	text-decoration: none;
}

a:hover,
a:focus {
	outline: 0;
	text-decoration: none;
}

a:active {
	outline: 0;
	text-decoration: none;
}

.material-icons {
	line-height: inherit;
	vertical-align: middle;
}

.clear-float {
	clear: both;
}

.wrapper {
	width: 1360px;
	margin: 0px auto;
	position: relative;
	max-width: 100%;
}

#boxed:not(.active) {
	background-color: inherit;
	background-image: none;
	min-height: 100%;
}

.active#boxed {
	width: 1150px;
	margin: 0px auto;
	background: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,0.1);
	padding: 0px;
	min-height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

i.fa {
	line-height: inherit;
	font-size: inherit;
	font-weight: normal;
	vertical-align: middle;
}


input, textarea, select, button {
	outline: none;
}



body.ot_debug .wrapper {
	box-shadow: 1px 0 0 red, -1px 0 0 red;
}

.container {
	width: 1110px;
}

p {
	margin-bottom: 20px;
	line-height: 150%;
}

p:last-child {
	margin-bottom: 0;
}


.ot-responsive-menu-header {
	background-color: #383B43;
}

h1, h2, h3, h4, h5, h6 {
	color: #4f5357;
	display: block;
	margin-bottom: 20px;
	margin-top: 0;
	line-height: 130%;
}

h6{
	font-size: 20px;
}

h5{
	font-size: 22px;
}

h4{
	font-size: 24px;
}

h3{
	font-size: 26px;
}

h2{
	font-size: 28px;
}

h1{
	font-size: 30px;
}

iframe {
	max-width: 100%;
	height: auto;
}

.google-maps,
.video-embed{
	display:block;
	position:relative;
	height:0;
	padding-bottom:56.25%;
	margin-bottom:20px;
}
.google-maps iframe,
.video-embed embed,
.video-embed iframe,
.video-embed object{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%!important;
	height:100%!important;
}


.wp-caption {
	display: block;
	background-color: #f0f0f0;
	text-align: center;
	margin-bottom: 30px!important;
	max-width: 100%;
}

.wp-caption>a {
	display: block;
	background-color: #E0E0E0;
}

.wp-caption p {
	font-style: italic;
	padding: 10px 12px;
	text-align: left;
	color: #6d6d6d;
}

.pos-photo-gallery {
	width: 500px;
	max-width: 100%;
	margin-bottom: 25px;
}

.pos-photo-gallery > a.right {
	display: block;
	float: none;
	text-align: right;
	background-color: #f0f0f0;
	margin-top: 6px;
	padding: 8px 10px;
	border-radius: 2px;
	font-size: 12px;
}

.pos-photo-gallery > a.right i.fa {
    font-size: 12px;
    padding-left: 6px;
}

.ot-shortcode-tabs:not(.style-2) {
	padding: 30px;
}

.ot-shortcode-tabs:not(.style-2) > ul > li a {
	line-height: 130%;
	padding: 4px 0;
}

.ot-shortcode-tabs:not(.style-2) > ul {
	width: 31%;
}

.ot-shortcode-tabs:not(.style-2) > div {
	margin-left: 31%;
}

.shortcode-content ol, .shortcode-content ul {
	margin-bottom: 25px;
	line-height: 150%;
	font-size: 17px;
}

.fa-ul li {
	padding-top: 3px;
	margin-top: 8px;
}

.shortcode-content ol li {
	margin-top: 10px;
}

pre,
.table {
	margin-bottom: 25px;
}


blockquote {
	margin-bottom: 25px;
}


.otm .sub-menu > li > a {
	line-height: 130%;
	padding: 15px;
	font-size: 14px;
}





.shortcode-content table {
	margin-bottom: 30px;
	width: 100%;
}

.shortcode-content table tr > th {
    padding: 5px;
}

.shortcode-content table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.shortcode-content table tr > th,
.shortcode-content table tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}


.shortcode-content dl:not(.gallery-item) {
	border: 1px dotted #ccc;
	padding: 1em;
	margin-bottom: 25px;
}
.shortcode-content dl:not(.gallery-item) dt {
	float: left;
	clear: left;
	width: 170px;
	text-align: right;
	font-weight: bold;
	color: #ccc;
}
.shortcode-content dl:not(.gallery-item) dt:after {
	content: ":";
}
.shortcode-content dl:not(.gallery-item) dd {
	margin: 0 0 0 200px;
	padding: 0 0 1em 0;
}

th {
    text-align: left;
}

.ot-shortcode-social-icon i.fa, .ot-shortcode-social-icon i.ti {
    padding: 0;
    width: 30px;
    text-align: center;
}

.ot-shortcode-social-icon strong {
	font-weight: bold;
}






@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}



/*------------------------------------------------------------------
[1. Main header]

+ #header
	+ 
		+ 

Navigation	  #main-menu
-------------------------------------------------------------------*/

#header {
	background-color: #383b43;
	color: #fff;
}

#header a {
	color: #ccc;
}

#header a:hover {
	color: #fff;
}

#header-logo-text {
	font-weight: normal;
	margin: 0;
}

#header > .container:after {
	display: block;
	clear: both;
	content: '';
}


#header-logo {
	display: block;
	float: left;
	line-height: 68px;
	vertical-align: middle;
}

#header-logo > strong {
	font-size: 30px;
	color: #fff;
}

#hyper-menu {
	display: block;
	float: left;
	list-style: none;
	line-height: 68px;
	vertical-align: middle;
	margin-left: 12px;
}

#hyper-menu > li > ul {
	display: none;
/*	display: block;*/
	position: absolute;
	z-index: 101;
	background-color: #595b62;
	left: 0;
	width: 100%;
	line-height: 150%;
	overflow: hidden;
/*
	-webkit-animation: fadeout 0.2s;
	-moz-animation: fadeout 0.2s;
	-ms-animation: fadeout 0.2s;
	-o-animation: fadeout 0.2s;
	animation: fadeout 0.2s;
*/
}

#hyper-menu > li > ul > li > canvas {
	display: block;
	position: absolute;
	opacity: 0.2;
	z-index: 0;
	left: 0;
	top: -68px;
	display: none;
}

#hyper-menu > li:hover > ul {
	display: block;
	-webkit-animation: fadein 0.2s;
	-moz-animation: fadein 0.2s;
	-ms-animation: fadein 0.2s;
	-o-animation: fadein 0.2s;
	animation: fadein 0.2s;
}

.otm li:hover > .sub-menu {
	-webkit-animation: fadein 0.2s;
	-moz-animation: fadein 0.2s;
	-ms-animation: fadein 0.2s;
	-o-animation: fadein 0.2s;
	animation: fadein 0.2s;
}

.otm li > .sub-menu.ot-mega-menu {
	line-height: 120%;
}

#hyper-menu > li,
#hyper-menu > li > a {
	display: block;
	line-height: inherit;
}

#hyper-menu > li > a {
	padding: 0 18px;
}

#hyper-menu > li:hover > a {
	background-color: #56585F;
	color: #fff;
}

#hyper-menu > li > a i.material-icons {
	padding-right: 5px;
	margin-top: -2px;
}



.hyper-menu-inner {
	display: block;
	padding: 40px 0;
}

.hyper-menu-inner > li > div {
	position: relative;
	z-index: 2;
}

.hyper-menu-inner ul {
	display: block;
	list-style: none;
	font-size: 15px;
}

.hyper-menu-inner ul li {
	display: block;
	list-style: none;
}

.hyper-menu-inner ul li a {
	display: block;
}

.hyper-menu-inner .container > hr {
	margin-top: 40px;
	border: 0;
	height: 2px;
	background-color: rgba(255,255,255,0.2);
}

.hyper-menu-inner h3 {
	color: #fff;
	display: block;
	margin-bottom: 18px;
	font-size: 24px;
	font-weight: normal;
}

#header .hyper-menu-inner h3 a {
	color: #fff;
	display: block;
}


.footer-top-block {
	display: block;
}

.footer-top-block:after {
	display: block;
	clear: both;
	content: '';
}


.hyper-menu-footer {
	display: block;
	margin-top: 40px;
	padding-top: 30px;
	margin-bottom: -10px;
	border-top: 2px solid rgba(255,255,255,0.2);
}

.hyper-menu-footer:after {
	display: block;
	clear: both;
	content: '';
}

.hyper-menu-langs a {
	display: inline-block;
	padding: 7px 14px;
	background-color: transparent;
	border: 2px solid #7A7C81;
	border-radius: 2px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 6px;
}

.hyper-menu-langs a:hover,
.hyper-menu-langs a.active {
	background-color: #7A7C81;
	color: #fff!important;
}

.hyper-menu-langs a img {
	line-height: inherit;
	padding-right: 8px;
	vertical-align: baseline;
}


.hyper-menu-socials a {
	display: inline-block;
	margin-left: 14px;
	line-height: 40px;
	font-size: 15px;
}

.hyper-menu-socials a i.fa {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 37px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #7A7C81;
	margin-right: 10px;
	transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.hyper-menu-socials a:hover i.fa {
	background-color: #7A7C81;
	color: #fff;
}


.ot-menu-will-follow .otm-follow.is-now-following > ul:before {
	display: block;
	z-index: -1;
	background: inherit!important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	content: '';
}

.header-right-side {
	display: block;
	list-style: none;
	line-height: 68px;
}

.header-right-side li {
	display: inline-block;
	line-height: inherit;
}

.header-right-side li a {
	display: block;
	padding: 0 10px;
}

.header-right-side .with-split {
	position: relative;
	padding-right: 10px;
	margin-right: 10px;
}

.header-right-side .with-split:after {
	background-color: #5F5F5F;
	width: 2px;
	height: 25px;
	content: '';
	top: 20px;
	right: 0;
	display: block;
	position: absolute;
}

.header-right-side .with-split:last-child {
	margin-right: 0;
	padding-right: 0;
}

.header-right-side .with-split:last-child:after {
	display: none;
}




/*------------------------------------------------------------------
[2. Main Menu]

+ #main-menu
	+ 
		+ 

-------------------------------------------------------------------*/

#main-menu-wrapper .otm > ul,
#main-menu-wrapper {
	background-color: #2f323b;
}

#main-menu-wrapper {
	position: relative;
	z-index: 100;
}

#second-menu-wrapper {
	position: relative;
	z-index: 99;
}

#main-menu-wrapper .otm > ul {
	line-height: 60px;
}

#main-menu-wrapper .otm > ul > li > a {
	padding-top: 0;
	padding-bottom: 0;
}

.otm .sub-menu > li:hover > a,
.otm > ul > li:hover > a {
	background-color: #4B4E56;
}

.otm .sub-menu:not(.ot-mega-menu) {
	line-height: 50px;
}

.otm > ul > li > a span:after {
	font-family: "Material icons";
	content: '\E5C5';
	padding-left: 4px;
}

.otm .sub-menu > li > a span:after {
	font-family: "Material icons";
	content: '\E5CC';
	padding-left: 4px;
}

#second-menu-wrapper .otm > ul,
#second-menu-wrapper {
	background-color: #d8d8d8;
}


#second-menu-wrapper,
#second-menu-wrapper a {
	color: #232323;
}

#second-menu-wrapper a:hover {
	color: #000;
}

#second-menu-wrapper .otm .sub-menu > li:hover > a,
#second-menu-wrapper .otm > ul > li:hover > a {
	background-color: #C7C7C7;
}

.menu-widgets {
	padding: 25px;
	border-top: 3px solid rgba(255, 255, 255, 0.15);
}

.menu-widgets p {
	font-size: 14px;
}

.menu-widgets a {
	line-height: 130%;
}

#main-menu-wrapper .search-header-bull {
	display: block;
	z-index: 101;
	position: relative;
	margin-top: -60px;
	height: 60px;
	line-height: 60px;
	transition: color .2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
}

#main-menu-wrapper .otm-follow.is-now-following + .search-header-bull {
	z-index: 99;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




/*------------------------------------------------------------------
[3. Content styling]

+ #content
	+ 
		+ 

Main panels	  .ot-panel-block
-------------------------------------------------------------------*/

#content {
	display: block;
	padding: 30px 0;
}


.ot-title-block {
	display: block;
	margin-bottom: 30px;
	position: relative;
	padding-left: 15px;
	border-left: 4px solid #2797d1;
	color: #464646;
	text-transform: uppercase;
}

/*
.ot-title-block:before {
	display: block;
	position: absolute;
	content: '';
	border-left: 3px solid #ccc;
	border-color: inherit;
	height: 1px;
	width: 36px;
	top: 0;
	left: 0;
}
*/

.ot-title-block.text-me-center {
/*	text-align: center;*/
	padding-left: 20px;
}

.ot-title-block.text-me-center:before {
	margin-left: -18px;
	left: 50%;
}

.ot-title-block h2 {
	display: block;
	color: inherit;
	font-size: 22px;
}

.ot-title-block h2 a {
	color: inherit;
}

.ot-title-block h2 a:hover {
	color: #444;
}

.ot-content-block {
	display: block;
	margin-bottom: 50px;
}

.otg + .ot-content-block {
	clear: both;
}

.container-darkstrip .ot-content-block,
.container-lightstrip .ot-content-block {
	margin-bottom: 35px;
}



.article-front-list {
	display: block;
}

.article-front-list .item {
	display: block;
	padding-bottom: 14px;
	padding-top: 14px;
	border-bottom: 1px solid #e5e5e5;
}

.article-front-list .item:first-child {
	padding-top: 0;
}

.article-front-list .item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.article-front-list .item h3 {
	font-weight: normal;
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
	margin-bottom: 0;
	padding-right: 10px;
}

.article-front-list .item h3 a:first-child {
	line-height: inherit;
}

.article-front-list .item h3:first-child {
	margin-top: 0;
	font-size: 15px;
	font-weight: normal;
}

.article-front-list .item h3 .item-icon {
	display: inline-block;
	color: #aaa;
	margin-left: 0;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 10;
}

.article-front-list .item:hover h3 .item-icon {
	opacity: 1;
	filter: alpha(opacity=100);
	margin-left: 12px;
}

.article-front-list .item h3 .item-icon:hover {
	color: #444;
	margin-left: 12px;
}

/*
.article-front-list .item h3 .item-icon:last-child {
	margin-left: 12px;
}
*/

.article-front-list .item h3 .ot-read-later {
	position: absolute;
	margin-left: 0;
	transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.article-front-list .item:hover h3 .ot-read-later {
	margin-left: 36px;
}

.article-front-list .item:hover h3 .ot-read-later a {
	margin-left: 3px;
}

.article-front-list .item h3 .item-icon:before {
	display: block;
	position: absolute;
	content: attr(data-ot-tooltip-text);
	bottom: 100%;
	line-height: 150%;
	white-space: nowrap;
	font-size: 3px;
	font-weight: bold;
	left: 50%;
	background-color: #444;
	border-radius: 2px;
	color: #fff;
	padding: 4px 8px;
	margin-bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.article-front-list .item h3 .item-icon:hover:before {
	font-size: 11px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-bottom: 5px;
}

.article-front-list .item h3 .item-icon i {
	font-size: inherit;
}

.article-front-list .item > a img {
	width: 100%;
}

.article-front-grid:after {
	display: block;
	clear: both;
	content: '';
}

.article-front-grid .item {
	margin-bottom: 30px;
}

.article-front-grid .item,
.item-overlay-blur {
	display: block;
	position: relative;
}

.article-front-grid .item.post.sticky,
.item-overlay-blur.post.sticky {
	padding: 0;
}

.article-front-grid .item.post.sticky .item-header {
	position: relative;
}

.article-front-grid .item.post.sticky .item-header:before {
	position: absolute;
	top: -8px;
	left: 5%;
	color: #ffffff;
	font-family: 'Material icons';
	content: '\E866';
	line-height: 100%;
	font-size: 40px;
	text-shadow: -1px 3px 0 rgba(23, 23, 23, 0.2);
}

.article-front-grid .item .item-overlay {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 25px 180px 25px 25px;
	z-index: 1;
	color: #fff;
	overflow: hidden;
}

.article-front-grid .item .item-header {
	display: block;
}

.article-front-grid .item .item-header img {
	width: 100%;
}

.article-front-grid .item .item-overlay:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #444;
	opacity: 0.6;
	filter: alpha(opacity=60);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.article-front-grid .item:hover .item-overlay:before {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.article-front-grid .item-overlay strong {
	position: relative;
	z-index: 2;
	font-size: 22px;
	display: block;
	min-height: 51px;
}

.article-front-grid .item-icon {
	position: absolute;
	right: 25px;
	bottom: 25px;
	z-index: 5;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 42px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,0.2);
	font-size: 24px;
	transition: color .2s, background .2s, box-shadow .2s, border .2s, opacity .2s;
	-moz-transition: color .2s, background .2s, box-shadow .2s, border .2s, opacity .2s;
	-webkit-transition: color .2s, background .2s, box-shadow .2s, border .2s, opacity .2s;
	-o-transition: color .2s, background .2s, box-shadow .2s, border .2s, opacity .2s;
}

.article-front-grid .item-icon[data-ot-tooltip-text]:before {
	display: block;
	position: absolute;
	content: attr(data-ot-tooltip-text);
	bottom: 100%;
	margin-bottom: 0;
	background-color: #fff;
	color: #444;
	border-radius: 3px;
	z-index: 10;
	white-space: nowrap;
	left: 50%;
	font-size: 4px;
	line-height: 100%;
	padding: 6px;
	font-weight: bold;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.article-front-grid .item-icon[data-ot-tooltip-text]:hover:before {
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 11px;
	margin-bottom: 10px;
}

.article-front-grid .item:nth-child(n+2) .item-icon[data-ot-tooltip-text]:before {
	background-color: #444;
	color: #fff;
}

.article-front-grid .item-icon:not([style="display:none;"]) ~ .item-icon:not([style="display:none;"]),
.article-front-grid .item-icon:not([style="display:none;"]) ~ .ot-read-later .item-icon:not([style="display:none;"]) {
	right: 85px;
}

.article-front-grid .item-icon i {
	font-size: inherit;
	line-height: inherit;
}

.article-front-grid .item-icon:hover {
	color: #444;
	border: 2px solid transparent;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.article-front-grid .item canvas,
.item-overlay-blur canvas {
	position: absolute;
	display: block;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%!important;
	height: auto!important;
}

.article-front-grid .item:nth-child(n+2) {
	width: 47.888%;
	float: left;
}

.article-front-grid .item:nth-child(2n+2) {
	margin-right: 4.224%;
	clear: both;
}

.article-front-grid .item:nth-child(n+2) .item-overlay {
	padding: 20px;
}

.article-front-grid .item:nth-child(n+2) .item-overlay strong {
	font-size: 16px;
	min-height: 0;
	line-height: 130%;
}

.article-front-grid .item:nth-child(n+2) .item-icon {
	bottom: auto;
	top: 15px;
	right: 15px;
	border: 0;
	background-color: #444;
	line-height: 32px;
	height: 34px;
	width: 34px;
	font-size: 16px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.article-front-grid .item:nth-child(n+2):hover .item-icon {
	opacity: 1;
	filter: alpha(opacity=100);
}

.article-front-grid .item:nth-child(n+2) .item-icon:hover {
	background-color: #fff;
	color: #444;
}

.article-front-grid .item:nth-child(n+2) .item-icon:not([style="display:none;"]) ~ .item-icon:not([style="display:none;"]),
.article-front-grid .item:nth-child(n+2) .item-icon:not([style="display:none;"]) ~ .ot-read-later .item-icon:not([style="display:none;"]) {
	right: 60px;
}

.article-front-grid .item.item-overlay-inverse .item-overlay {
	color: #4C4C4C;
}

.article-front-grid .item.item-overlay-inverse .item-overlay:before {
	background-color: #FFF;
}

.article-front-grid .item.item-overlay-inverse .item-icon {
	color: #4C4C4C;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.article-front-grid .item.item-overlay-inverse .item-icon:hover {
	border-color: transparent;
}

.article-front-grid .item.item-overlay-inverse:nth-child(n+2) .item-icon {
	border: 0;
	background-color: rgba(255,255,255,0.8);
}


.do-aspace {
	display: block;
	text-align: center;
}

hr {
	margin: 10px 0 40px 0;
	border: 0;
	height: 3px;
	background-color: #E5E5E5;
}

.more-stories-button {
	display: block;
	margin-top: 15px;
	background-color: #f0f0f0;
	color: #232323;
	text-align: center;
	padding: 12px 8px;
	border-radius: 2px;
	font-size: 14px;
}

.more-stories-button:hover {
	background-color: #E4E4E4;
	color: #232323;
}



.video-block-grid {
	display: block;
}

.video-block-grid a {
	display: block;
}

.video-block-grid .item-header {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.video-block-grid .item-header img {
	border-radius: 2px;
	overflow: hidden;
	width: 100%;
}

.video-block-grid .item-header i.ti,
.video-block-grid .item-header i.fa,
.video-block-grid .item-header i.material-icons {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 36px;
	height: 20px;
	line-height: 20px;
	top: 50%;
	left: 0;
	margin-top: -10px;
	text-align: center;
	z-index: 2;
	color: #fff;
}

.video-block-grid .item-header i.ti:before,
.video-block-grid .item-header i.fa:before,
.video-block-grid .item-header i.material-icons:before {
	display: block;
	width: 50px;
	height: 50px;
	background-color: rgba(47, 50, 59, 0.8);
	border-radius: 50%;
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

.video-block-grid .item-header:hover i.ti,
.video-block-grid .item-header:hover i.fa,
.video-block-grid .item-header:hover i.material-icons {
	color: #444;
}

.video-block-grid .item-header:hover i.ti:before,
.video-block-grid .item-header:hover i.fa:before,
.video-block-grid .item-header:hover i.material-icons:before {
	background-color: rgba(255, 255, 255, 0.94);
}


.video-block-grid .item-header:hover:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.2);
}

.video-block-grid .item-content {
	text-align: center;
}

.video-block-grid .item-content .item-categories {
	display: block;
	margin-bottom: 6px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #2797d1;
}

.video-block-grid .item-content .item-categories a {
	color: inherit;
	display: inline-block;
	margin: 0 4px;
}

.video-block-grid .item-content .item-categories a:hover {
	color: #444;
}

.video-block-grid .item-content h3 {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: 700;
}

.video-block-grid .item-content h3:last-child {
	margin-bottom: 0;
}

.video-block-grid .item-content p {
	font-size: 14px;
}







.photo-block-grid {
	display: block;
}

.photo-block-grid.photo-grid-large .item-content h3 {
	font-size: 18px;
}

.photo-block-grid.photo-grid-large .item-header i.fa,
.photo-block-grid.photo-grid-large .item-header i.material-icons,
.photo-block-grid.photo-grid-large .item-header i.ti {
	top: 10px;
}

.photo-block-grid a {
	display: block;
}

.photo-block-grid .item-header {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.photo-block-grid .item-header img {
	border-radius: 2px;
	overflow: hidden;
}

.photo-block-grid .item-header i.ti,
.photo-block-grid .item-header i.fa,
.photo-block-grid .item-header i.material-icons {
	display: block;
	position: absolute;
	width: 30px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	top: 0;
	left: 10px;
	text-align: center;
	z-index: 2;
	color: #fff;
/*	color: #444;*/
}

.photo-block-grid .item-header i.ti:before,
.photo-block-grid .item-header i.fa:before,
.photo-block-grid .item-header i.material-icons:before {
	display: block;
	width: 30px;
	height: 30px;
	background-color: rgba(47,50,59,.8);
/*	background-color: rgba(255, 255, 255, 0.94);*/
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

.photo-block-grid .item-header:hover i.ti,
.photo-block-grid .item-header:hover i.fa,
.photo-block-grid .item-header:hover i.material-icons {
	color: #444;
}

.photo-block-grid .item-header:hover i.ti:before,
.photo-block-grid .item-header:hover i.fa:before,
.photo-block-grid .item-header:hover i.material-icons:before {
	background-color: #fff;
}


.photo-block-grid .item-header:hover:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.2);
}



.photo-block-grid .item-content h3 {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
}

.photo-block-grid .item-content h3:last-child {
	margin-bottom: 0;
}

.photo-block-grid .item-content p {
	font-size: 14px;
}

.photo-block-grid .item-meta {
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
	color: #ABABAB;
}

.photo-block-grid .item-meta i.material-icons {
	font-size: 1.4em;
	line-height: 12px;
}








.hd-article-block-grid {
	display: block;
}

.hd-article-block-grid a {
	display: block;
}

.hd-article-block-grid .item-header {
	display: block;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.08), 0 6px 10px 3px rgba(0,0,0,0.05);
}

.container-darkstrip .hd-article-block-grid .item-header:before {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15);
}

.hd-article-block-grid .item-header img {
	border-radius: 2px;
	overflow: hidden;
	width: 100%;
}

.hd-article-block-grid .item-header i.ti,
.hd-article-block-grid .item-header i.fa,
.hd-article-block-grid .item-header i.material-icons {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 36px;
	height: 20px;
	line-height: 20px;
	top: 50%;
	left: 0;
	margin-top: -10px;
	text-align: center;
	z-index: 2;
	color: #fff;
}

.hd-article-block-grid .item-header i.ti:before,
.hd-article-block-grid .item-header i.fa:before,
.hd-article-block-grid .item-header i.material-icons:before {
	display: block;
	width: 50px;
	height: 50px;
	background-color: rgba(47, 50, 59, 0.8);
	border-radius: 50%;
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

.hd-article-block-grid .item-header:hover i.ti,
.hd-article-block-grid .item-header:hover i.fa,
.hd-article-block-grid .item-header:hover i.material-icons {
	color: #444;
}

.hd-article-block-grid .item-header:hover i.ti:before,
.hd-article-block-grid .item-header:hover i.fa:before,
.hd-article-block-grid .item-header:hover i.material-icons:before {
	background-color: rgba(255, 255, 255, 0.94);
}


.hd-article-block-grid .item-header:hover:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.2);
}

.hd-article-block-grid .item-content {
	text-align: center;
}

.hd-article-block-grid .item-content .item-categories {
	display: block;
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #2797d1;
}

.hd-article-block-grid .item-content .item-categories a {
	color: inherit;
	display: inline-block;
	margin: 0 4px;
}

.hd-article-block-grid .item-content .item-categories a:hover {
	color: #444!important;
}

.hd-article-block-grid .item-content h3 {
	display: block;
	font-size: 17px;
	margin-bottom: 12px;
	font-weight: 700;
}

.hd-article-block-grid .item-content h3:last-child {
	margin-bottom: 0;
}

.hd-article-block-grid .item-content p {
	font-size: 14px;
	color: #aaa;
}

.hd-article-block-grid .item-meta i.material-icons {
	line-height: inherit;
	font-size: inherit;
}

.hd-article-block-grid .item-meta {
	font-size: 14px;
	color: #aaa;
}

.hd-article-block-grid .item-meta .item-meta-item {
	display: inline-block;
	margin-right: 10px;
}

.hd-article-block-grid .item-meta .item-meta-item:last-child {
	margin-right: 0;
}

.hd-article-block-grid .item-meta .item-meta-item .mashsb-count {
	float: none!important;
	line-height: inherit!important;
	display: inline-block!important;
}

.hd-article-block-grid .item-meta .item-meta-item .mashsb-count .mashsb-sharetext {
	display: none!important;
}

.hd-article-block-grid .item-meta .item-meta-item .mashsb-count .mashsbcount {
	font-size: inherit!important;
	line-height: inherit!important;
}


.container-darkstrip .container-darkstrip-bg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
	max-width: 200%;
	margin-left: -50%;
	height: auto;
	z-index: 0;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	opacity: 0.2;
	filter: alpha(opacity=20), blur(20px);
	-webkit-filter: blur(20px);
}

.container-darkstrip {
	padding: 50px 0 30px 0;
	color: #fff;
	background-color: #3E3E3E;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}

.container-darkstrip:last-child {
	margin-bottom: 0;
}

.container-darkstrip .container {
	position: relative;
	z-index: 2;
}

.container-darkstrip .hd-article-block-grid .item-content .item-categories a:hover {
	color: #fff!important;
}

.container-darkstrip a,
.container-darkstrip .ot-title-block {
	color: #fff;
}

.container-darkstrip .ot-title-block a:hover {
	color: #ccc;
}

.ot-title-block.text-me-center {
	margin-bottom: 40px;
}

.container-lightstrip .ot-title-block.text-me-center h2,
.container-darkstrip .ot-title-block.text-me-center h2 {
	font-size: 28px;
}



.container-lightstrip {
	padding: 50px 0 30px 0;
	color: #fff;
	background-color: #3E3E3E;
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}

.container-lightstrip:last-child {
	margin-bottom: 0;
}

.container-lightstrip .container {
	position: relative;
	z-index: 2;
}


.txt-msg-ot {
	display: block;
	margin-bottom: 20px;
	text-align: left;
	padding: 15px;
	border-radius: 3px;
	border: 2px solid #E0E0E0;
	background-color: #F7F7F7;
}

.txt-msg-ot:hover {
	border-color: #74BDE0;
	background-color: #F7FCFF;
}

.txt-msg-ot strong {
	display: block;
	margin-bottom: 8px;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.txt-msg-ot span {
	display: block;
	margin-bottom: 8px;
	font-size: 13px;
}

.txt-msg-ot i {
	display: block;
	margin-bottom: 0;
	color: #2797d1;
	font-style: normal;
	font-size: 13px;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.ot-article-list-large {
	display: block;
}

.ot-article-list-large .item {
	display: block;
	margin-bottom: 25px;
}

.ot-article-list-large .item:last-child {
	margin-bottom: 0;
}

.ot-article-list-large .item-header {
	display: block;
	margin-bottom: 15px;
	border-radius: 2px;
	overflow: hidden;
}

.ot-article-list-large .item-content {
	display: block;
}

.ot-article-list-large .item-categories {
	display: block;
	margin-bottom: 13px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #2797d1;
}

.ot-article-list-large .item-categories a {
    color: inherit;
    display: inline-block;
    margin-right: 6px;
}

.ot-article-list-large .item-content h3 {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
}

.ot-article-list-large .item-content h3 a {
	line-height: inherit;
	display: inline-block;
}

.ot-article-list-large .item-content p {
	display: block;
	font-size: 16px;
	line-height: 140%;
	color: #848484;
}




.ot-article-list-small {
	display: block;
}

.ot-article-list-small .item {
	display: block;
	margin-bottom: 20px;
}

.ot-article-list-small .item:last-child {
	margin-bottom: 0;
}

.ot-article-list-small .item:after {
	display: block;
	clear: both;
	content: '';
}

.ot-article-list-small .item-header {
	display: block;
/*	margin-bottom: 15px;*/
	float: left;
	width: 100px;
	border-radius: 2px;
	overflow: hidden;
}

.ot-article-list-small .item-header a {
	display: block;
}

.ot-article-list-small .item-content {
	display: block;
	margin-left: 120px;
}

.ot-article-list-small .item-content h3 {
	display: block;
	margin-bottom: 8px;
	font-size: 15px;
}

.ot-article-list-small .item-content h3:last-child {
	margin-bottom: 0;
}

.ot-article-list-small .item-content h3 a {
	line-height: inherit;
	display: inline-block;
}

.ot-article-list-small .item-content p {
	display: block;
	font-size: 14px;
	line-height: 140%;
	color: #848484;
}

.ot-article-list-small .item-content .item-meta {
	display: block;
	font-size: 14px;
}

.ot-article-list-small .item-content .item-meta .material-icons {
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
}


.ot-article-block-list {
	display: block;
}

.ot-article-block-list .item {
	display: block;
/*	margin-bottom: 15px;*/
}

.ot-article-block-list .item h3 {
	display: block;
/*	margin-bottom: 15px;*/
	font-size: 16px;
	font-weight: normal;
}

.ot-article-block-list .item .item-meta {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #aaa;
}

.ot-article-block-list .item .item-meta .material-icons {
	line-height: inherit;
	font-size: inherit;
}

.ot-article-block-list .item .item-meta a {
	color: inherit;
	margin-right: 10px;
}

.ot-article-block-list .item .item-meta a:last-child {
	margin-right: 0;
}





.ot-article-block-list .item h3 .item-icon {
	display: inline-block;
	color: #aaa;
	margin-left: 0;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 10;
}

.ot-article-block-list .item:hover h3 .item-icon {
	opacity: 1;
	filter: alpha(opacity=100);
	margin-left: 12px;
}

.ot-article-block-list .item h3 .item-icon:hover {
	color: #444;
	margin-left: 12px;
}

/*
.article-front-list .item h3 .item-icon:last-child {
	margin-left: 12px;
}
*/

.ot-article-block-list .item:hover h3 .item-icon:last-child {
	margin-left: 36px;
}

.ot-article-block-list .item h3 .item-icon:before {
	display: block;
	position: absolute;
	content: attr(data-ot-tooltip-text);
	bottom: 100%;
	white-space: nowrap;
	font-size: 3px;
	font-weight: bold;
	left: 50%;
	background-color: #444;
	border-radius: 2px;
	color: #fff;
	padding: 4px 8px;
	margin-bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.ot-article-block-list .item h3 .item-icon:hover:before {
	font-size: 11px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-bottom: 5px;
}

.ot-article-block-list .item h3 .item-icon i {
	font-size: inherit;
}




.ot-short-video-preview {
	display: block;
	margin-bottom: 25px;
	box-shadow: inset 0 0 0 3px rgba(0,0,0,.06),0 1px 3px transparent,0 1px 2px transparent;
	border-radius: 3px;
	background: rgba(255,255,255,0.14);
}

.ot-short-video-preview:hover {
	background: rgba(255,255,255,0.5);
	box-shadow: inset 0 0 0 3px transparent,0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.ot-short-video-preview .ot-short-video-header {
	display: block;
	float: left;
	width: 41%;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}

.ot-short-video-preview .ot-short-video-header i.material-icons {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	color: #fff;
	text-shadow: 0 0 30px rgba(0,0,0,0.8);
	font-size: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-left: -25px;
	margin-top: -25px;
}

.ot-short-video-preview .ot-short-video-content {
	display: block;
	margin-left: 41%;
	padding: 17px 18px;
}

.ot-short-video-preview .ot-short-video-content > strong {
	display: block;
	margin-bottom: 8px;
	height: 38px;
	overflow: hidden;
	font-size: 16px;
}

.ot-short-video-preview .ot-short-video-content > .ot-short-video-href {
	display: block;
	white-space: nowrap;
	font-size: 12px;
	color: #69a0d8;
	margin-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ot-short-video-preview .ot-short-video-content > .button {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.06);
	color: #232323;
	font-weight: 700;
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 2px;
	line-height: 10px;
}

.ot-short-video-preview:after {
	display: block;
	content: '';
	clear: both;
}

.ot-short-video-preview:last-child {
	margin-bottom: 0;
}



.ot-panel-pager {
	display: block;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 2px solid #f2f2f2;
	text-align: center;
	cursor: default;
	clear: both;
}

.ot-panel-pager .ot-pager-button {
    display: inline-block;
    padding: 11px 24px;
    font-size: 15px;
    font-weight: 700;
    background-color: #f4f4f4;
    letter-spacing: -.4px;
    color: #383B43;
    border-radius: 3px;
}

.ot-panel-pager a.ot-pager-button.active,
.ot-panel-pager a.ot-pager-button:hover {
    background-color: #383B43;
    color: #fff;
}

.ot-panel-pager p {
    padding: 11px 0;
}

.ot-panel-pager .ot-pager-button.right i.fa,
.ot-panel-pager .page-numbers.next i.fa,
.ot-panel-pager .page-numbers.next {
    margin-left: 8px;
}

.ot-panel-pager .ot-pager-button.left i.fa,
.ot-panel-pager .page-numbers.prev i.fa,
.ot-panel-pager .page-numbers.prev {
    margin-right: 8px;
}

.ot-panel-pager .page-numbers {
    display: inline-block;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    background-color: #f4f4f4;
    letter-spacing: -.4px;
    color: #383B43;
    border-radius: 3px;
}

.ot-panel-pager a.page-numbers:hover,
.ot-panel-pager span.page-numbers {
    background-color: #383B43;
    color: #fff;
}



.article-head h1 {
    font-size: 30px;
    color: #565656;
}

.article-head-meta {
    display: block;
    font-size: 15px;
}

.article-head {
    display: block;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9eaea;
}

.img-with-no-margin img {
    width: 100%;
}

.article-head-meta .meta-item {
    display: inline-block;
    margin-right: 17px;
    font-weight: 500;
    color: #aaa;
}

.article-head-meta .meta-item i {
    display: inline-block;
    margin-right: 7px;
	font-size: 18px;
	vertical-align: middle;
}

.articl-heade-media {
	display: block;
	margin-bottom: 20px;
}

.articl-heade-media img {
	width: 100%;
}

.article-foot-tags {
    display: block;
    margin-top: 30px;
    border-top: 1px solid #E9EAEA;
    padding-top: 30px;
}

.article-foot-tags > strong {
    display: block;
    font-size: 16px;
    color: #C3C3C3;
    font-weight: 500;
}

.article-foot-tags > strong i {
    display: inline-block;
    margin-right: 8px;
}

.article-foot-tags > div {
    display: block;
    margin-top: 20px;
}

.article-foot-tags > div a {
    display: inline-block;
    font-size: 14px!important;
    background-color: #F5F5F5;
    color: #656565;
    padding: 8px 14px;
    border-radius: 2px;
    margin: 0 5px 7px 0;
}

.article-foot-tags > div a:hover {
    background-color: #e4e4e4;
    color: #232323;
}

.article-review-score {
    float: left;
    width: 120px;
    background-color: #2797D1;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.article-review-score .article-review-score-num {
    display: block;
    line-height: 76px;
    font-size: 44px;
}

.article-review-score .article-review-score-name {
    display: block;
    padding: 9px 6px;
    background-color: rgba(255,255,255,.2);
    text-transform: uppercase;
    font-weight: 400;
}

.article-review-content {
    display: block;
    margin-bottom: 40px;
    /* padding-bottom: 30px; */
    /* border-bottom: 2px solid #E9EAEA; */
    padding-left: 150px;
}

.article-review-content h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.article-review-content:after {
    display: block;
    clear: both;
    content: '';
}

.article-review-block-bad,
.article-review-block-good {
	position: relative;
}

.article-review-block-bad > strong,
.article-review-block-good > strong {
    display: block;
    margin-bottom: 18px;
    font-size: 26px;
    color: #88c442;
    line-height: 100%;
}

.article-review-block-bad ul li,
.article-review-block-good ul li {
	display: block;
    margin: 0;
    padding: 6px 0 0 18px;
    position: relative;
    font-size: 14px;
}

.article-review-block-bad ul,
.article-review-block-good ul {
    display: block;
    margin: 0;
    padding: 0;
	list-style: none;
}

.article-review-block-good ul li:before {
	display: block;
	position: absolute;
	left: 0;
	content: '+';
}

.article-review-block-bad ul li:before {
	display: block;
	position: absolute;
	left: 0;
	content: '-';
}

.article-review-verdict {
/*    border-bottom: 2px solid #E9EAEA;*/
	padding: 30px;
	border: 0;
	background-color: #F8F8F8;
}

.article-review-block-bad > strong {
    color: #DD4B39;
}

.article-review-block-bad:before {
    display: block;
    position: absolute;
    content: '';
    width: 2px;
    background-color: #E9EAEA;
    top: 0;
    bottom: 0;
    margin-left: -10%;
}


.article-main-next-prev {
	display: block;
}

.article-main-next-prev a {
	display: block;
	padding: 16px;
	font-size: 14px;
	color: gray;
	border: 1px solid #efefef;
	border-radius: 2px;
}

.article-main-next-prev a:hover {
	background-color: #2797d1;
	border-color: transparent;
	color: #fff;
}

.article-main-next-prev a i.fa {
    float: left;
    font-size: 25px;
    color: #e0e0e0;
    padding: 7px 5px;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.article-main-next-prev a.article-nav-next i.fa {
    float: right;
}

.article-main-next-prev a strong,
.article-main-next-prev a span {
    display: block;
    margin-left: 48px;
    line-height: 140%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-main-next-prev a span {
    font-size: 13px;
    color: #bebebe;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
}

.article-main-next-prev a strong {
    font-weight: bold;
}

.article-main-next-prev a.article-nav-next strong,
.article-main-next-prev a.article-nav-next span {
    margin-left: 0;
    margin-right: 48px;
}

.article-main-next-prev a:hover i.fa,
.article-main-next-prev a:hover span {
	color: rgba(255,255,255,0.8);
}


.article-share-bttns {
	display: block;
	line-height: 100%;
}

.article-share-bttns:after {
	display: block;
	clear: both;
	content: '';
}

.article-share-bttns .share-body {
    display: block;
    float: left;
    color: #fff!important;
    text-decoration: none!important;
    position: relative;
    margin-left: 8px;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}

.article-share-bttns .share-body:hover {
	background-color: #444!important;
}

.article-share-bttns .share-body i.fa {
    display: inline-block!important;
    text-align: center;
    font-size: 18px!important;
    padding: 22px 0;
/*	float: left;*/
	padding: 0;
	width: auto;
	vertical-align: middle;
}

.share-body span {
    display: inline-block;
/*    position: absolute;*/
    font-size: 12px;
	vertical-align: middle;
	padding: 5px 0 5px 10px;
	font-weight: bold;
}

a.share-body:after {
	display: block;
	clear: both;
	content: '';
}

a.share-body.ot-facebook {
    background: #3b5998;
}

a.share-body.ot-twitter {
    background: #00aced;
}

a.share-body.ot-google-plus {
    background: #dd4b39;
}

a.share-body.ot-pinterest {
    background: #cb2027;
}

a.share-body.ot-linkedin {
    background: #007bb6;
}


.article-author-block {
	display: block;
}

.article-author-block {
    display: block;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

.article-author-block .item-header {
    display: block;
    float: left;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.article-author-block .item-content {
    display: block;
    margin-left: 115px;
}

.article-author-block:after {
    display: block;
    content: '';
    clear: both;
}

.article-author-block .item-content > strong {
    display: block;
    margin-bottom: 14px;
    color: #232323;
    font-size: 20px;
    line-height: 100%;
}

.article-author-block .item-content > p {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.ot-outline-button {
    display: inline-block;
    line-height: 120%;
    color: #aaa;
    padding: 10px 14px;
    border-radius: 2px;
    margin-right: 8px;
    font-size: 14px;
    border: 1px solid #aaa;
}

.ot-outline-button.ot-outline-button-green {
    color: #5cb71a;
    border-color: #5cb71a;
}

.ot-outline-button .material-icons,
.ot-outline-button i.fa {
    padding-right: 8px;
}

.ot-outline-button.ot-outline-button-orange {
    color: #f08722;
    border-color: #f08722;
}

.ot-outline-button.ot-outline-button-green:hover {
	background-color: #5cb71a;
	color: #fff;
}

.ot-outline-button.ot-outline-button-orange:hover {
	background-color: #f08722;
	color: #fff;
}


.shortcode-content + .ot-content-block,
.shortcode-content + .ot-title-block {
	margin-top: 30px;
}



.ot-form-login {
    text-align: left;
    display: block;
    background-color: rgba(255,255,255,.7);
    width: 480px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 300px rgba(0,0,0,.1);
    padding: 40px 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.ot-form-login h1 {
	display: block;
	padding-bottom: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid rgba(0,0,0,0.05);
	text-align: center;
	font-size: 22px;
	color: #888484;
	margin-top: -10px;
	margin-left: -50px;
	margin-right: -50px;
	text-transform: uppercase;
}

.ot-form-login p {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.ot-form-login p:last-child {
	margin-bottom: 0;
}

.ot-form-login p.submit {
    padding-top: 5px;
    padding-bottom: 10px;
}

.ot-form-login p a {
    display: inline-block;
    border-bottom: 1px solid #5E5E5E;
    line-height: 150%;
}

.ot-form-login p a:hover {
	border-color: #2797d1;
}

.ot-form-login p.button button {
    display: inline-block;
    background-color: #f1863f;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    padding: 13px 20px;
    margin-right: 5px;
    box-shadow: inset 0 0 0 100px transparent;
    border: 0;
}

.ot-form-login p input[type=password],
.ot-form-login p input[type=email],
.ot-form-login p input[type=text] {
    width: 100%;
    padding: 14px 18px;
    display: inline-block;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
    font-size: 15px;
}

.ot-form-login p input[type=password]:focus,
.ot-form-login p input[type=email]:focus,
.ot-form-login p input[type=text]:focus {
    border-color: #cacaca;
}

.ot-responsive-menu-content-inner form button,
.ot-responsive-menu-content-inner form input[type=submit] {
	border: 1px solid transparent;
	box-shadow: none;
}







/*------------------------------------------------------------------
[4. Comments]

+ .comments-block
	+ 
		+ 

-------------------------------------------------------------------*/

#comments, #comments ol, #comments ul {
    display: block;
    margin: 0;
    padding: 0;
}

#comments {
	border-top: 2px solid #f2f2f2;
	padding-top: 30px;
}

#comments li {
    display: block;
}

#comments .comment-block {
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #E9EAEA;
    padding-bottom: 30px;
}

#comments .image-avatar {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

#comments .image-avatar img {
    width: 100%;
    height: 100%;
}

#comments .comment-text {
    display: block;
    margin-left: 80px;
}

#comments .comment-text .time-stamp {
    display: block;
    font-size: 14px;
    color: #c5c5c5;
    line-height: 120%;
}

#comments .comment-text .user-nick {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 100%;
}

#comments .comment-text .user-nick .user-label {
	display: inline-block;
	margin-left: 10px;
	font-size: 10px;
	background-color: #5E5E5E;
	color: #fff;
	vertical-align: top;
	padding: 0 6px;
	border-radius: 2px;
	line-height: 20px;
	margin-top: -2px;
}

#comments .shortcode-content {
    margin-bottom: 20px;
    display: block;
}

#comments .comment-text .read-more-button {
    font-size: 13px;
    line-height: 140%;
}

#comments .shortcode-content p {
    font-size: 15px;
}

.card-footer-button i.material-icons {
    display: inline-block;
    margin-right: 7px;
}

#comments li li .comment-block {
    padding-left: 80px;
}



.comment-info {
    display: block;
    padding-bottom: 35px;
    border-bottom: 1px solid #E9EAEA;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

#respond form,
.comment-info .comment-info-inner {
    max-width: 100%;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.comment-info .comment-info-inner {
    display: block;
    position: relative;
}

.comment-info .material-icons {
    font-size: 46px;
    line-height: 36px;
    height: 36px;
    color: #E9EAEA;
    position: absolute;
    right: 100%;
    margin-right: 20px;
    font-weight: 400;
}

.comment-info h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.ot-material-card-content p {
    color: #aaa;
    font-size: 15px;
}

#respond form,
.comment-info .comment-info-inner {
    max-width: 100%;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

#respond .ot-shortcode-alert-message, .fa-ul {
    margin-bottom: 25px;
}

.ot-shortcode-alert-message {
    padding: 16px 18px;
}

#respond p {
    display: block;
    margin-bottom: 12px;
	color: #aaa;
}

#respond label {
    display: block;
}

#respond label span {
    display: block;
    padding-bottom: 4px;
    font-size: 13px;
    color: #8b949d;
    font-weight: 700;
}

#respond label span .required {
    display: inline-block;
    padding-left: 6px;
    color: #f15a36;
    font-size: 20px;
    line-height: 100%;
    vertical-align: bottom;
    font-style: normal;
}

#respond label input,
#respond label textarea {
    display: block;
    border: 2px solid #f0f1f2;
    border-radius: 2px;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
}

#respond label textarea {
	height: 140px;
}

#respond label input:focus,
#respond label textarea:focus {
	border-color: #ccc;
}

#respond .submit {
	margin-top: 14px;
}

.button.ot-shortcode-button,
.ot-short-button,
a.button.ot-shortcode-button,
button,
input[type=submit] {
    display: inline-block;
    padding: 10px 18px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 0 0 100px transparent,inset 0 -2px 0 rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.08);
    background-color: #2797d1;
    line-height: 16px;
    height: auto;
    border: 0;
    cursor: pointer;
    position: relative;
}

.button.ot-shortcode-button:hover,
.ot-short-button:hover,
a.button.ot-shortcode-button:hover,
button:hover,
input[type=submit]:hover {
    box-shadow: inset 0 0 0 100px transparent,inset 0 -1px 0 rgba(0,0,0,.05),0 2px 4px rgba(0,0,0,.08);
}


.comments-big-message {
    display: block;
    padding: 30px 0 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #aaa;
}

.comments-big-message .material-icons,
.comments-big-message i.fa {
    display: block;
    float: left;
    font-size: 60px;
    line-height: 100%;
}

.comments-big-message strong {
    display: block;
    margin-left: 90px;
    font-size: 24px;
    margin-bottom: 4px;
}

.comments-big-message p {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: 90px;
    opacity: .5;
    filter: alpha(opacity=50);
}



.big-error-message {
    display: block;
    text-align: center;
    padding: 50px 0;
}

.big-error-message h3 {
    display: block;
    padding-top: 50px;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 0;
}

.big-error-message strong {
    display: block;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -.4px;
    margin-bottom: 30px;
}

.big-error-message p {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.button-error {
    display: inline-block;
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    background-color: #e4e4e4;
    color: #656565;
    padding: 10px 18px;
    border-radius: 2px;
}

.button-error:hover {
	background-color: #ECECEC;
	color: #444;
}







/*------------------------------------------------------------------
[5. Photo gallery]

+ .photo-gallery-blocks
	+ 
		+ 

-------------------------------------------------------------------*/

.photo-gallery-blocks {

}


.ot-single-photo-block {
	display: block;
	margin-top: -30px;
	margin-bottom: 30px;
	background-color: #444;
	color: #fff!important;
}

.ot-single-photo-block h1,
.ot-single-photo-block h2,
.ot-single-photo-block h3,
.ot-single-photo-block h4,
.ot-single-photo-block h5,
.ot-single-photo-block h6,
.ot-single-photo-block p {
	color: inherit;
}

.ot-single-photo-block-inner {
	display: block;
	text-align: center;
	background-color: #363739;
	min-height: 400px;
	line-height: 400px;
}

.ot-single-photo-block .gallery-inner {
	text-align: center;
}

.lightbox h2, .lightbox h3, .lightbox p, .lightbox span {
	color: #fff!important;
}

.ot-single-photo-block-inner img {
	display: inline-block;
	line-height: inherit;
	vertical-align: middle;
}

.photo-gallery-thumbs {
	display: block;
	white-space: nowrap;
	background-color: #363739;
	position: relative;
}

.photo-gallery-nav-left:active,
.photo-gallery-nav-left:focus,
.photo-gallery-nav-left {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2797D1;
    padding: 0;
    box-shadow: none;
    border: 0;
    color: #fff;
    width: 45px;
    bottom: 0;
    border-radius: 0;
}

.photo-gallery-nav-right:active,
.photo-gallery-nav-right:focus,
.photo-gallery-nav-right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #2797D1;
    padding: 0;
    box-shadow: none;
    border: 0;
    color: #fff;
    width: 45px;
    bottom: 0;
    border-radius: 0;
}

.photo-gallery-nav-right,
.photo-gallery-nav-left {
    line-height: 110px;
    height: 110px;
}

.photo-gallery-nav-left:hover,
.photo-gallery-nav-right:hover {
	background-color: #363739;
}

.photo-gallery-nav-left:active,
.photo-gallery-nav-right:active {
	background-color: #222;
}

.photo-gallery-thumbs-inner {
    display: block;
    position: relative;
    padding: 16px 0;
    margin: 0 58px;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.photo-gallery-thumbs-inner:before {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 100%;
    width: 100px;
    height: 100%;
    box-shadow: -5px 0 60px 40px transparent;
    content: '';
}

.photo-gallery-thumbs-inner:after,
.photo-gallery-thumbs-inner:before {
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.photo-gallery-thumbs-inner:after {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 100%;
    width: 100px;
    height: 100%;
    box-shadow: 5px 0 60px 40px #37383a;
    content: '';
}

.photo-gallery-thumbs-inner.not-first:before {
    box-shadow: -5px 0 60px 40px #37383a;
}

.photo-gallery-thumbs-inner.is-last:after {
    box-shadow: -5px 0 60px 40px transparent;
}

.photo-gallery-thumbs-inner .item {
    margin-right: 11px;
    display: inline-block;
    padding: 1px;
    border: 3px solid transparent;
    margin-left: -3px;
    opacity: .4;
    filter: alpha(opacity=40);
    width: 78px;
    height: 78px;
    vertical-align: middle;
}

.photo-gallery-thumbs-inner .item:first-child {
    margin-left: 0;
}

.photo-gallery-thumbs-inner .item.active:hover,
.photo-gallery-thumbs-inner .item.active {
    border: 3px solid #2797D1;
    opacity: 1;
    filter: alpha(opacity=100);
}

.photo-gallery-thumbs-inner .item:hover {
	border: 3px solid #5A5A5A;
	opacity: 1;
	filter: alpha(opacity=100);
}

.ot-single-photo-block .ot-content-block {
	display: block;
	padding-top: 50px;
	padding-bottom: 60px;
	margin-bottom: 0;
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.photo-gallery-description {
	display: block;
	background-color: #3E3E3E;
}


.full-width-map {
	display: block;
	margin-top: -30px;
	height: 340px;
	background-color: #e5e3df;
	background-image: url(../images/loading.gif);
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
}

.full-width-map:before {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.full-width-map.mousedown:before {
	display: none!important;
}

.full-width-map #ot-g-map,
.full-width-map iframe {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.shortcode-content > hr {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(0,0,0,0.06);
}


.ot-article-list-error {
    display: block;
    padding: 40px 0;
    text-align: center;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.ot-article-list-error img {
    display: inline-block;
    margin-bottom: 45px;
}

.ot-article-list-error h3 {
    display: block;
    margin-bottom: 25px;
    font-size: 26px;
}








/*------------------------------------------------------------------
[6. Sidebar styling]

+ #sidebar
	+ 
		+ 

Widget content	  .widget > div
-------------------------------------------------------------------*/

#sidebar {
	margin-bottom: 35px;
}


.sidebar .widget > h3 {
	color: #444;
}

#footer .widget .menu li:before,
.hyper-menu-inner .widget .menu li:before {
	display: none;
}

/*.hyper-menu-inner .widget > h3 {
	border: 0;
	padding: 0;
}*/

#footer .widget > h3 {
	border: 0;
	padding: 0;
}

#footer .widget .menu li,
.hyper-menu-inner .widget .menu li {
	padding-left: 0;
}

.widget .search-form {
	display: block;
	width: 100%;
	font-size: 0;
	vertical-align: bottom;
}

.widget .search-form label {
	display: inline-block;
	font-size: 13px;
	margin-bottom: 0;
	width: 71%;
}

.widget .search-form label span {
    display: none;
}

.widget .search-form label input {
    width: 100%;
    border: 0;
    background-color: #f2f2f2;
    border-radius: 2px;
    padding: 12px 16px;
    line-height: 140%;
}

.widget .search-form > input {
    display: inline-block;
    font-size: 13px;
    width: 27%;
    border: 1px solid transparent;
    border-radius: 2px;
    border: 0;
    background-color: #383B43;
    color: #fff;
    padding: 12px 16px;
    margin-left: 1%;
    line-height: 140%;
}

.widget .search-form > input:hover {
	background-color: #51545A;
}


.ot-w-gallery-list {
    display: block;
}

.ot-w-gallery-list .item-header:after,
.ot-w-gallery-list .item:after, .ot-w-gallery-list:after {
    display: block;
    content: '';
    clear: both;
}

.ot-w-gallery-list .item {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
}

.ot-w-gallery-list .item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.ot-w-gallery-list .item-header {
    display: block;
    margin-bottom: 15px;
}

.ot-w-gallery-list .item-header .item-photo {
	display: block;
	float: left;
	width: 48%;
	border-radius: 2px;
	overflow: hidden;
	margin-left: 4%;
}

.ot-w-gallery-list .item-header .item-photo:nth-child(2n+1) {
	clear: both;
	margin-left: 0;
}

.ot-w-gallery-list .item-header .item-photo:nth-child(n+3) {
	margin-top: 14px;
}

.ot-w-gallery-list .item .item-content h4 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}

.ot-w-gallery-list .item .item-content h4 a {
    line-height: 140%;
    display: inline-block;
}

.ot-w-gallery-list .item .item-meta {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.ot-w-gallery-list .item .item-meta:last-child {
    margin-bottom: 0;
}

.ot-w-gallery-list .item .item-meta .item-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #8b949d;
    line-height: 100%;
}

.ot-w-gallery-list .item p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 8px;
}

.ot-w-gallery-list .item .item-meta .item-meta-item .material-icons,
.ot-w-gallery-list .item .item-meta .item-meta-item i.fa {
    padding-right: 8px;
	font-size: 15px;
}




.widget {
	display: block;
	margin-bottom: 20px;
}

.widget > h3 {
	display: block;
	position: relative;
	padding-left: 15px;
    border-left: 4px solid #2797d1;
	color: #fff;
	margin-bottom: 25px;
	font-size: 19px;
	text-transform: uppercase;
}

/*
.widget > h3:before {
    display: block;
    position: absolute;
    content: '';
    border-top: 3px solid #ccc;
    border-color: inherit;
    height: 1px;
    width: 36px;
    top: 0;
    left: 0;
}
*/

.widget .ot-short-video-preview .ot-short-video-header {
	float: none;
	width: 100%;
}

.widget .ot-short-video-preview .ot-short-video-header img {
	width: 100%;
	border-radius: 3px;
}

.widget .ot-short-video-preview .ot-short-video-content {
	margin-left: 0;
}

.widget .ot-short-video-preview .ot-short-video-content > strong {
	height: auto;
	line-height: 130%;
}

#footer .widget .ot-short-video-preview {
	box-shadow: none;
	background-color: rgba(93, 93, 93, 0.5);
}

#footer .widget .ot-short-video-preview:hover {
	background-color: rgba(93, 93, 93, 0.9);
	color: #fff;
}

#header .widget .ot-short-video-preview {
	box-shadow: none;
	background-color: rgba(93, 93, 93, 0.5);
}

#header .widget .ot-short-video-preview:hover {
	background-color: rgba(93, 93, 93, 0.9);
	color: #fff;
}

.ot-short-video-preview .ot-short-video-content > .button {
	background-color: rgba(255,255,255,.1);
	color: #ccc;
}


.widget {
	display: block;
	margin-bottom: 35px;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget .tagcloud {
	display: block;
}

.widget .tagcloud a {
	display: inline-block;
	font-size: 14px!important;
	background-color: #e4e4e4;
	color: #656565;
	padding: 9px 14px;
	border-radius: 2px;
	margin: 0 5px 7px 0;
}

.widget .tagcloud a:hover {
	background-color: #d0d0d0;
	color: #232323;
}

#header .widget .tagcloud a,
#footer .widget .tagcloud a {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

#header .widget .tagcloud a:hover,
#footer .widget .tagcloud a:hover {
	background-color: #d0d0d0;
	color: #232323;
}

.widget .do-space {
	background-color: #efefef;
	text-align: center;
	padding: 20px 0;
}

#footer .widget .do-space {
	background-color: transparent;
	padding: 0;
}

#footer .ot-widget-article-list > .item.no-image .item-content {
	padding-bottom: 20px;
}

#footer .ot-widget-article-list > .item.no-image .item-content h4 a {
	padding-left: 0;
}

#footer .ot-widget-article-list > .item.no-image:last-of-type .item-content {
	padding-bottom: 0;
}



/*
.widget .search-form {
	display: block;
	font-size: 0;
}

.widget .search-form .screen-reader-text {
	display: none;
}

.widget .search-form input[type="search"],
.widget .search-form input[type="text"] {
	display: inline-block;
	width: 65%;
	font-size: 14px;
	margin-right: 5%;
	padding: 12px 14px;
	background-color: #fff;
	border: 1px solid #D8D8D8;
	border-radius: 2px;
}

.widget .search-form button,
.widget .search-form input[type="submit"] {
	display: inline-block;
	width: 30%;
	font-size: 14px;
	padding: 12px 14px;
	background-color: #00A2FF;
	border: 1px solid rgba(0,0,0,0.1);
	color: #fff;
	border-radius: 2px;
}

.widget .search-form button:hover,
.widget .search-form input[type="submit"]:hover {
	box-shadow: inset 0 0 0 100px rgba(255,255,255,0.1);
}

.widget .search-form button:active,
.widget .search-form input[type="submit"]:active {
	box-shadow: inset 0 0 0 100px rgba(0,0,0,0.1);
}
*/

.widget > ul,
.widget > div > ul,
.widget > ul li,
.widget > div > ul li {
	padding-left: 0;
	list-style: none;
}

.widget > ul ul,
.widget > div > ul ul {
	padding-left: 20px;
}


.ot-w-socialize > a {
    display: block;
    margin-bottom: 16px;
    line-height: 34px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.ot-w-socialize > a i.fa {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    line-height: inherit;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 16px;
    box-shadow: inset 0 0 0 30px #fff,0 0 0 0 rgba(0,0,0,.2);
    transition: box-shadow 0;
    -moz-transition: box-shadow 0;
    -webkit-transition: box-shadow 0;
    -o-transition: box-shadow 0;
}

.ot-w-socialize > a:hover i.fa {
    border-color: transparent;
    box-shadow: inset 0 0 0 0 #fff,0 0 0 15px transparent;
    transition: box-shadow .15s;
    -moz-transition: box-shadow .15s;
    -webkit-transition: box-shadow .15s;
    -o-transition: box-shadow .15s;
}

a.ot-color-hover-facebook:hover i.fa {
    background-color: #3b5998;
    color: #fff;
}

.ot-w-socialize > a span {
    display: block;
    margin-left: 48px;
    line-height: inherit;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid transparent;
}

.ot-w-socialize > a span i {
    font-style: normal;
}

a.ot-color-hover-facebook:hover {
	color: #3b5998;
}
a.ot-color-hover-facebook:hover i.fa {
	background-color: #3b5998;
	color: #fff;
}

a.ot-color-hover-twitter:hover {
	color: #00aced;
}
a.ot-color-hover-twitter:hover i.fa {
	background-color: #00aced;
	color: #fff;
}

a.ot-color-hover-google-plus:hover {
	color: #dd4b39;
}
a.ot-color-hover-google-plus:hover i.fa {
	background-color: #dd4b39;
	color: #fff;
}

a.ot-color-hover-linkedin:hover {
	color: #007bb6;
}
a.ot-color-hover-linkedin:hover i.fa {
	background-color: #007bb6;
	color: #fff;
}

a.ot-color-hover-pinterest:hover {
	color: #cb2027;
}
a.ot-color-hover-pinterest:hover i.fa {
	background-color: #cb2027;
	color: #fff;
}

a.ot-color-hover-rss:hover {
	color: #f60;
}
a.ot-color-hover-rss:hover i.fa {
	background-color: #f60;
	color: #fff;
}

a.ot-color-hover-youtube:hover {
	color: #e52d27;
}
a.ot-color-hover-youtube:hover i.fa {
	background-color: #e52d27;
	color: #fff;
}


.widget-instagram-photos {
    display: block;
}

.widget-instagram-photos .item {
    display: block;
    width: 47%;
    float: left;
    margin-bottom: 20px;
    margin-left: 6%;
}

.widget-instagram-photos .item .item-header {
    display: block;
    margin-bottom: 13px;
}

.widget-instagram-photos .item .item-content {
    display: block;
}

.widget-instagram-photos .item:nth-child(2n+1) {
    margin-left: 0;
}

.widget-instagram-photos .item .item-header a {
    display: block;
}

.widget-instagram-photos .item .item-content .insta-like-count {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
    color: #ec6c7e;
}

.widget-instagram-photos .item .item-content h4 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -.5px;
    line-height: 130%;
}

.widget-instagram-photos .item .item-content .item-meta {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
	display: block;
}

.widget-instagram-photos .item .item-content .item-meta a {
    color: inherit!important;
    margin-right: 8px;
    display: inline-block;
    letter-spacing: -.5px;
}

.widget-instagram-photos .item .item-content .insta-like-count i.fa {
    padding-right: 6px;
}

.widget-instagram-photos .item .item-content .item-meta a .material-icons,
.widget-instagram-photos .item .item-content .item-meta a i.po,
.widget-instagram-photos .item .item-content .item-meta a i.fa {
    padding-right: 8px;
	font-size: 15px;
	vertical-align: middle;
}


.ot-w-article-list {
    display: block;
}

.ot-w-article-list .item {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
	border-color: rgba(255,255,255,0.2);
}

#hyper-menu .ot-w-article-list .item {
	border-color: rgba(255,255,255,0.2);
}

.ot-w-article-list .item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.ot-w-article-list .item:after,
.ot-w-article-list:after {
    display: block;
    content: '';
    clear: both;
}

.ot-w-article-list .item .item-header {
    float: left;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    width: 80px;
}

.ot-w-article-list .item .item-content {
    margin-left: 100px;
}

.ot-w-article-list .item.no-image .item-content {
	margin-left: 0;
}

.ot-w-article-list .item .item-content h4 {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.ot-w-article-list .item .item-content h4 a {
    line-height: 140%;
    display: inline-block;
}

.ot-w-article-list .item .item-meta {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
}

.ot-w-article-list .item .item-meta .item-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #8b949d;
    line-height: 100%;
}

.ot-w-article-list .item .item-meta:last-child {
    margin-bottom: 0;
}

.ot-w-article-list .item .item-meta .item-meta-item .material-icons,
.ot-w-article-list .item .item-meta .item-meta-item i.fa {
    padding-right: 8px;
	font-size: 15px;
}







.ot-w-comments-list {
    display: block;
}

.ot-w-comments-list .item {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
}

#hyper-menu .ot-w-comments-list .item {
	border-color: rgba(255,255,255,0.2);
}

.ot-w-comments-list .item .item-header {
    float: left;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    width: 50px;
}

.ot-w-comments-list .item .item-content {
    margin-left: 70px;
}

.item-header img {
    width: 100%;
}

.ot-w-comments-list .item .item-content h4 {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}

.ot-w-comments-list .item .item-content h4 a {
    line-height: 140%;
    display: inline-block;
}

.ot-w-comments-list .item p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 150%;
    margin-bottom: 8px;
}

.ot-w-comments-list .item .item-meta {
    display: block;
    margin-bottom: 6px;
    font-size: 13px;
}

.ot-w-comments-list .item .item-meta:last-child {
    margin-bottom: 0;
}

.ot-w-comments-list .item .item-meta .item-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #8b949d;
}

.ot-w-comments-list .item .item-meta .item-meta-item.meta-button {
    color: #3779bc;
    font-weight: 700;
    line-height: 100%;
}

.ot-w-comments-list .item .item-meta .item-meta-item.meta-button i.fa {
    padding-left: 4px;
    padding-right: 0;
}

.widget .menu {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.widget .menu li {
    display: block;
    padding: 0;
    margin-top: 8px;
    padding-left: 15px;
    position: relative;
    font-weight: 400;
}

.widget .menu > li:first-child {
    margin-top: 0;
}

.widget .menu li:before {
    display: block;
    font-family: FontAwesome;
    content: '\f0da';
    position: absolute;
    left: 0;
	top: 3px;
}

.ot-w-flickr-feed {
    display: block;
}





.ot-shortcode-accordion > div {
	display: block;
	border-radius: 3px;
	background: rgba(100,100,100,.05);
/*	background-color: rgba(255,255,255,.09);*/
	margin-bottom: 1px;
	padding: 0!important;
}

.ot-shortcode-accordion > div.active {
	margin-bottom: 8px;
	margin-top: 8px;
}

.ot-shortcode-accordion > div:first-child {
	margin-top: 0;
}

.ot-shortcode-accordion > div:last-child {
	margin-bottom: 0;
}

.ot-shortcode-accordion > div > a {
	padding: 17px 40px 0 50px;
	color: #5D5D5D;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
/*	white-space: nowrap;*/
/*	overflow: hidden;*/
/*	text-overflow: ellipsis;*/
}

/*
.ot-shortcode-accordion > div.active > a {
	padding: 17px 21px 20px 50px;
}
*/

.ot-shortcode-accordion > div > a:before {
	background: transparent!important;
	color: #ccc;
	content: '\E8FD'!important;
	font-family: 'Material icons';
	font-size: 22px;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
	padding: 17px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	-moz-border-radius: 0;
    box-shadow: 0 1px 3px transparent,0 1px 2px transparent;
}

.ot-shortcode-accordion > div:hover {
	background: rgba(100,100,100,.07);
}

.ot-shortcode-accordion > div.active {
	background: rgba(100,100,100,.05);
    box-shadow: 0 1px 3px rgba(0,0,0,.07),0 1px 2px rgba(0,0,0,.12);
}

.ot-shortcode-accordion > div.active > a:before {
	border-color: #E2E2E2;
}

.ot-shortcode-accordion > div {
	padding-bottom: 20px!important;
	overflow: hidden;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.ot-shortcode-accordion > div > div {
	padding-top: 38px;
	padding: 38px 20px 0 20px;
}

.ot-shortcode-accordion > div:after {
	display: none!important;
}

.ot-shortcode-accordion > div > a:after {
	position: absolute;
	background: transparent!important;
	color: #ccc;
	content: '\E145'!important;
	font-family: 'Material icons';
	font-size: 22px;
	top: 0;
	right: 0;
	font-weight: normal;
	text-align: left;
	padding: 17px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	-moz-border-radius: 0;
    box-shadow: 0 1px 3px transparent,0 1px 2px transparent;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

.ot-shortcode-accordion > div.active > a:after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ot-shortcode-accordion > div > a:hover {
	color: #232323;
}



.ot-widget-article-list {
	display: block;
}

.ot-widget-article-list .item {
	display: block;
	margin-bottom: 20px;
}

.ot-widget-article-list .item:after {
	display: block;
	clear: both;
	content: '';
}

.ot-widget-article-list .item .item-header {
	width: 70px;
	float: left;
}

.ot-widget-article-list .item .item-content {
	margin-left: 90px;
}

.ot-widget-article-list .item .item-content h4 {
	font-size: 13px;
}

.ot-widget-article-list .item .item-content > a {
	display: inline-block;
	margin-top: 10px;
	padding: 4px 8px;
	font-size: 13px;
	font-style: normal;
	background-color: rgba(255,255,255,0.2);
	font-weight: bold;
	border-radius: 1px;
}

.ot-widget-article-list .item .item-content > a i.material-icons {
	margin-right: 4px;
}

.ot-widget-article-list .item .item-content > a i {
	font-style: normal;
	line-height: inherit;
	font-size: inherit;
	vertical-align: middle;
}


.ot-widget-button {
	display: block;
	margin-top: 18px;
	text-align: center;
	font-size: 14px;
	background-color: #e4e4e4;
	color: #656565;
	padding: 14px 12px;
	border-radius: 2px;
}

.ot-widget-button:hover {
	background-color: #d0d0d0;
	color: #232323;
}

#header .ot-widget-button,
#footer .ot-widget-button {
	background-color: rgba(255,255,255,0.05);
}

#header .ot-widget-button:hover,
#footer .ot-widget-button:hover {
	background-color: rgba(255,255,255,0.1);
	color: #fff;
}







/*------------------------------------------------------------------
[7. Footer]

+ #footer
	+ 
		+ 

Copyright information	  .footer-copy p
-------------------------------------------------------------------*/

#footer {
	display: block;
	background-color: #444;
	color: #fff;
	padding: 30px 0;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	color: #ccc;
}

#footer a.button:hover {
	color: #fff;
}

.copyright-strip {
	display: block;
	font-size: 13px;
	color: #ccc;
}

.copyright-strip .right {
	text-align: right;
}

.copyright-strip:after {
	display: block;
	clear: both;
	content: '';
}

.copyright-strip .left .footer-logo img {
	height: 42px;
}

.copyright-strip .left .footer-logo {
	height: 42px;
	line-height: 42px;
	font-size: 21px;
}

.copyright-strip ul {
	display: block;
	list-style: none;
	margin-top: 10px;
	cursor: default;
}

.copyright-strip ul li {
	display: inline-block;
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
}

.copyright-strip ul li:before {
	display: block;
	width: 2px;
	height: 13px;
	background-color: rgba(255,255,255,0.2);
	content: '';
	position: absolute;
	top: 1px;
	left: -3px;
}

.copyright-strip ul li:first-child:before {
	display: none;
}

#footer hr {
	background-color: rgba(255,255,255,0.1);
	margin-top: 25px;
	margin-bottom: 25px;
}


.footer-menu-blocks {
	display: block;
	padding-top: 10px;
}

.footer-menu-blocks h3 {
    color: #fff;
    display: block;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 400;
}

.footer-menu-blocks h3 a {
    color: #fff;
    display: block;
}

.footer-menu-blocks ul {
    display: block;
    list-style: none;
    font-size: 15px;
	line-height: 150%;
}

.footer-menu-blocks ul li {
    display: block;
    list-style: none;
}

.footer-menu-blocks ul li a {
    display: block;
	color: #ccc!important;
}

.footer-menu-blocks ul li a:hover {
	color: #f0f0f0!important;
}









#search-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: rgba(0,0,0,0.8);
	color: #444;
	overflow-x: hidden;
	overflow-y: scroll;
}

#search-overlay a {
	
}

.big-search-active #search-overlay {
	display: block;
}

body.big-search-active {
	overflow: hidden;
}

.owl-carousel.owl-loaded.otg {
	margin-left: 0;
	margin-right: 0;
}

#search-overlay-inner {
	width: 1100px;
	max-width: 100%;
	display: inline-block;
	margin-top: 6%;
	margin-bottom: 6%;
}

#search-overlay-inner form {
	margin-bottom: 40px;
	width: 600px;
	max-width: 100%;
	display: inline-block;
}

#search-overlay-inner form:after {
	display: block;
	clear: both;
	content: '';
}

#search-overlay-inner input[type=search],
#search-overlay-inner input[type=text] {
	display: block;
	float: left;
	width: 85%;
	padding: 0 24px;
	border: 0;
	line-height: 58px;
	font-weight: bold;
	background: transparent;
	color: #fff;
	background-color: rgba(107, 107, 107, 0.7);
}

#search-overlay-inner button {
	display: block;
	float: left;
	width: 15%;
	border: 0;
	padding: 0;
	line-height: 58px;
	color: #fff;
	background-color: rgba(107, 107, 107, 0.7);
}

#search-overlay-inner button:hover {
	background: #808080;
    color: #fff;
}

#search-overlay-inner button:active {
	background: #949494;
    color: #fff;
}

#search-overlay-inner button i.fa {
	display: block;
	line-height: inherit;
}

#search-overlay-inner .ot-content-block {
	text-align: left;
}

#search-overlay-inner a {
	color: #fff;
}

#search-overlay-inner .item-image a.item-image-c,
#search-overlay-inner .item-categies a {
	color: #fff;
}

#search-overlay-inner .item-categies a:hover,
#search-overlay-inner a:hover {
	color: #ccc;
}

#search-overlay-inner .category-listing-title {
	display: block;
	padding-top: 30px;
	margin-bottom: 40px;
}

#search-overlay-inner .hd-article-block-grid .item-content .item-categories a {
	color: inherit!important;
}

#search-overlay-inner .hd-article-block-grid .item-content .item-categories a:hover {
	color: #ccc!important;
}

#search-overlay-inner .category-listing-title span {
	display: inline-block;
	color: #fff;
	font-size: 20px;
	line-height: 130%;
	border-bottom: 3px solid #777777;
	padding-bottom: 6px;
	font-weight: 400;
	margin-bottom: 0;
}









/* lightbox */

.lightbox hr {
    margin: 20px 0px;
}
.lightbox p,
.lightbox span,
.lightbox h2,
.lightbox h3 {
    color: #232323;
    text-shadow: none;
}
.lightbox .loading-box {
    padding: 50px 0px;
    line-height: 24px;
}
.lightbox .loading-box span,
.lightbox .loading-box h3 {
	color: #444!important;
}
.startlightbox {
    overflow: hidden;
}
.startlightbox .lightbox {
    display: block;
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.94);
    text-align: center;
    z-index: 1002;
    display: none;
    overflow-y: scroll!important;
}
.lightbox .main-black-block {
    box-shadow: none;
    background: #212121;
    color: #ccc;
    font-size: 11.5px;
    line-height: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    color: #8a8a8a;
}
.lightbox .lightcontent .light-close:hover, .lightbox .lightcontent-loading .light-close:hover {
    color: #232323;
    border-color: transparent;
    background-color: #f0f0f0;
}
.lightbox .lightcontent .light-close:active, .lightbox .lightcontent-loading .light-close:active {
    background-color: #ccc;
    color: #232323;
    border-color: transparent;
}
.lightbox .lightcontent .light-close,
.lightbox .lightcontent-loading .light-close {
    display: block;
    right: 0;
    top: -50px;
    font-family: Arial;
    position: absolute;
    font-size: 14px;
    color: #fff;
    text-shadow: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 33px;
    text-align: center!important;
    border: 1px solid #fff;
    padding: 0;
    background-color: transparent;
}
.lightbox .lightcontent,
.lightbox .lightcontent-loading {
    background: #f4f4f4;
    width: 1080px;
    max-width: 100%;
    margin: 100px auto 70px auto;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}
.lightbox .light-title {
    display: block;
    position: absolute;
    top: -33px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    height: 23px;
    width: 780px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lightbox .gallery-thumbs {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 95%;
}
.lightbox .thacontent {
    padding: 0px 25px 20px 25px;
}
.loading-box {
    display: block;
    text-align: center;
}
.loading-box .loading-image {
    display: block;
    text-align: center;
    padding-top: 20px;
}
.lightbox .carousel-left {
    left: 8px;
}
.lightbox .carousel-right {
    right: 8px;
}
.lightbox blockquote {
    padding-bottom: 30px;
}
.lightbox .article-main-content {
    padding: 0px 55px;
    width: auto;
}
.loading-message {
    display: block;
    background: #f0f0f0;
    padding: 10px 15px;
    font-size: 11px;
    line-height: 140%;
}
.loading-message img {
    display: block;
    float: left;
    width: 34px;
    padding-right: 15px;
}
.main-content-split .loading-message img {
    display: none;
}
.loading-message:before {
    display: block;
    content: '';
    clear: both;
}
.loading-message b {
    font-size: 18px;
    display: block;
    padding-bottom: 4px;
}
.ls-fullwidth .ls-nav-prev,
.ls-fullwidth .ls-nav-next {
    z-index: 20px;
}
.ls-fullwidth .ls-nav-next {
    right: 50px!important;
}
.ls-fullwidth .ls-nav-prev {
    left: 50px!important;
}
.lightbox .big-photo-block .the-image {
	box-shadow: none;
	text-align: center;
	padding-top: 10px;
	background-color: transparent;
}
.lightbox .big-photo-block .the-image img {
	max-width: 98%;
}
.lightbox .big-photo-block .the-thumbs {
	margin-left: 1%;
	margin-right: 1%;
	overflow: hidden;
}
.lightbox .lightbox-content {
	display: block;
	padding: 0px 2% 8px 2%;
}
.the-image img {
	max-width: 100%;
}
.lightbox .photo-gallery-full {
	box-shadow: none;
}

.lightbox .photo-gallery-main:hover .photo-controls.prev {
	left: 20px;
}

.lightbox .photo-gallery-main:hover .photo-controls.next {
	right: 20px;
}


.waiter.loading {
	background-image: url(../images/loading-ot.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.waiter.loading img {
	opacity: 0.3;
}

.lightbox .photo-gallery-context-c {
	margin-top: 0px;
}

.ot-wrapper {
	position: relative;
}



.counts.mashsbcount {
	line-height: 100%;
	font-size: 38px;
}

.mashsb-count {
	margin-top: 0;
}

.mashsb-buttons {
	padding: 5px 0;
}

.mashsb-container {
	margin-bottom: 20px;
}

.mashsb-count {
	margin-right: 20px;
}





/*.ot-form-login {
	background-color: #fff;
	min-height: 150px;
	box-shadow: inset 0 0 0 1px #dbdbdb,0 3px 22px rgba(0,0,0,.05);
	padding: 40px;
	text-align: left;
    display: block;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 100px;
	margin-top: 60px
}*/

.ot-form-login p {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.ot-form-login p textarea,
.ot-form-login p input[type=password],
.ot-form-login p input[type=email],
.ot-form-login p input[type=text],
.ot-form-login li textarea,
.ot-form-login li input[type=password],
.ot-form-login li input[type=email],
.ot-form-login li input[type=text] {
    width: 100%;
    padding: 14px 18px;
    display: inline-block;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
    font-size: 15px;
}

.ot-form-login li input[type=checkbox] {
	float: left!important;
	width: auto!important;
	margin-top: 4px!important;
}

.ot-form-login p textarea:focus,
.ot-form-login p input[type=password]:focus,
.ot-form-login p input[type=email]:focus,
.ot-form-login p input[type=text]:focus,
.ot-form-login li textarea:focus,
.ot-form-login li input[type=password]:focus,
.ot-form-login li input[type=email]:focus,
.ot-form-login li input[type=text]:focus {
    border-color: #cacaca;
}

.wppb-user-forms li > h4 {
	font-size: 16px;
	color: #ccc;
	margin-top: 30px;
}

.wppb-user-forms li:first-child > h4 {
	margin-top: 0;
}

.wppb-description-delimiter {
	display: block;
	height: 1px;
	background: #E8E8E8;
	margin: 15px 0 20px 0;
	width: 100%;
	margin-left: 0!important;
	margin-right: 0!important;
}

.wppb-user-forms ul li {
	font-size: 14px;
}

.ot-form-login p.submit {
    padding-top: 5px;
    padding-bottom: 10px;
}

.ot-form-login a {
	text-decoration: underline;
}

.ot-form-login p:last-child {
	margin-bottom: 0;
	padding-bottom: 0!important;
}

.ot-form-login .button-primary,
.ot-form-login .button {
    /*background-color: #DC5C39;*/
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    padding: 13px 20px;
    margin-right: 5px;
    box-shadow: inset 0 0 0 100px transparent;
    border: 0;
	
	display: block;
	width: 100%;
	padding: 19px 0;
	border-radius: 3px;
}

.ot-form-login .button-primary:focus, .ot-form-login .button-primary:hover,
.ot-form-login .button:focus, .ot-form-login .button:hover {
    color: #fff;
    box-shadow: inset 0 0 0 100px rgba(255,255,255,.2);
}

.ot-form-login .button-primary:active,
.ot-form-login .button:active {
    color: #fff;
    box-shadow: inset 0 0 0 100px rgba(0,0,0,.2);
}

.text-center {
	text-align: center;
}

.ot-transform-checkbox.built, .ot-transform-select.built {
    display: none!important;
}

.ot-checkbox-placeholder {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    vertical-align: middle;
    border: 2px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 15px;
    color: transparent;
}

.ot-transform-checkbox.built:checked+.ot-checkbox-placeholder {
    border-color: transparent!important;
    background-color: #91cc2f;
    color: #fff;
}





.ot-checkbox-placeholder:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 11px;
    line-height: inherit;
    color: inherit;
}


.wppb-form-field input,
.wppb-form-field input[type="text"],
.wppb-form-field input[type="email"],
.wppb-form-field input[type="url"],
.wppb-form-field input[type="password"],
.wppb-form-field input[type="search"],
.wppb-form-field select,
.wppb-form-field textarea,
.wppb-checkboxes, .wppb-radios,
.wppb-form-field label,
#wppb-login-wrap .login-username label,
#wppb-login-wrap .login-password label {
	display: block!important;
	float: none!important;
	width: 100%!important;
	clear: both!important;
}

.wppb-form-field label,
#wppb-login-wrap .login-username label,
#wppb-login-wrap .login-password label {
	padding-bottom: 7px;
	font-weight: bold;
}

.ot-form-login p input[type=password], .ot-form-login p input[type=email], .ot-form-login p input[type=text] {
	display: block!important;
	float: none!important;
	width: 100%!important;
}




.shortcode-content .post-password-form {
	margin: 30px 0;
	border: 2px solid #f0f0f0;
	border-radius: 3px;
	padding: 30px;
}

.shortcode-content .post-password-form label {
	line-height: 27px;
	vertical-align: middle;
}

.shortcode-content .post-password-form label input[type="text"],
.shortcode-content .post-password-form label input[type="password"] {
	line-height: 27px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.shortcode-content .post-password-form button,
.shortcode-content .post-password-form input[type="submit"] {
	padding: 0 15px;
	line-height: 31px;
	vertical-align: middle;
}

select {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 2px;
	max-width: 100%;
	cursor: pointer;
}

.widget .search-form label label {
	display: none;
}

.widget > ul li,
.widget > div > ul li {
	margin-top: 10px;
}



.shortcode-content ol,
.shortcode-content ul {
    margin-bottom: 25px;
    line-height: 150%;
    font-size: 17px;
}

.shortcode-content ol ol,
.shortcode-content ul ol,
.shortcode-content ol ul,
.shortcode-content ul ul {
	margin-bottom: 0;
}

.shortcode-content ul:not(.fa-ul) {
	padding-left: 20px;
}

.shortcode-content .ot-shortcode-tabs > ul {
	padding-left: 0;
}

.shortcode-content ol {
    list-style: decimal;
    padding-left: 20px;
}

.shortcode-content ul li,
.shortcode-content ol li {
	margin-top: 10px;
}


.rss-widget-icon {
	vertical-align: middle;
}
.widget ul .rsswidget {
	font-weight: bold;
	display: block;
	margin-top: 25px;
	margin-bottom: 10px;
}

.widget ul li:first-child .rsswidget {
	margin-top: 0;
}

.widget .rss-date {
	display: block;
	margin-bottom: 10px;
}

.widget .rssSummary {
	display: block;
	margin-bottom: 10px;
}



#calendar_wrap {
	max-width: 100%;
}

#wp-calendar { width: 100%; }
#wp-calendar caption { text-align: right; font-weight: bold; color: #333; font-size: 14px; padding: 15px; margin-bottom: 15px; background-color: #f9f9f9; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: rgba(226, 226, 226, 0.2); border: 1px solid rgb(242, 242, 242); text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; color: #444; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 14px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 14px; text-transform: uppercase; padding-top: 10px; }





pre,
.table {
	margin-bottom: 25px;
}


blockquote {
	margin-bottom: 25px;
}

#header .widget .tagcloud a {
	font-size: 13px!important;
	padding: 7px;
}


