
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.otm > ul {
	position: relative;
	background-color: #f0f0f0;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 50px;
	z-index: 100;
}

.ot-menu-will-follow .otm.is-now-following > ul {
	position: fixed;
	top: 0;
	z-index: 100;
	width: inherit;
}

body.ot-menu-will-follow.admin-bar .otm.is-now-following > ul {
	margin-top: 46px;
}

.rtl .otm {
	text-align: right;
	direction: rtl;
}

.rtl .otm > ul > li {
	float: right;
}

.otm > ul > li > a span {
	line-height: inherit;
	vertical-align: top;
	display: block;
}

.otm > ul > li > a span:after {
	display: inline-block;
	content: ':';
	padding-left: 7px;
	line-height: inherit;
	vertical-align: top;
}

.rtl .otm > ul > li > a span:after {
	padding-left: 0;
	padding-right: 7px;
}

.otm .sub-menu > li > a span:after {
	display: inline-block;
	content: '>';
	float: right;
}

.rtl .otm .sub-menu > li > a span:after {
	float: left;
}

.otm > ul > li {
	float: left;
	line-height: inherit;
	background-color: inherit;
}

.otm .sub-menu > li > a,
.otm > ul > li > a {
	display: block;
	padding: 0 14px;
	line-height: inherit;
	text-decoration: none;
}

.otm .sub-menu > li:hover > a,
.otm > ul > li:hover > a {
	background-color: #f7f7f7;
}

.otm li:hover > .sub-menu {
	display: block;
}

.otm .sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	background-color: inherit;
	padding: 0;
	margin: 0;
	width: 200px;
}

.otm .sub-menu.ot-mega-menu {
	left: 0;
	width: 100%;
	line-height: 150%;
}

.otm .sub-menu > li {
	line-height: inherit;
	background-color: inherit;
	position: relative;
}

.otm .sub-menu .sub-menu {
	top: 0;
	left: 100%;
}

.rtl .otm .sub-menu .sub-menu {
	left: auto;
	right: 100%;
}

.otg:after, .otm>ul:after {
	height: 0;
}





.otm,
.otm ul,
.otm li,
.otg-item,
.otg {
	display: block;
}

.otg-items-1 > .otg-item,
.otg > .otg-item,
.otg {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.otm > ul:after,
.otg:after {
	display: block;
	clear: both;
	content: '';
}

.otg > .otg-item {
	float: left;
}

.rtl .otg > .otg-item {
	float: right;
}

.otg-u-6,
.otg-items-1 > .otg-item {
	width: 100%;
}

.otg-u-5 {
	width: 83.33334%;
}

.otg-u-4 {
	width: 66.66667%;
}

.otg-u-3,
.otg-items-2 > .otg-item {
	width: 50%;
}

.otg-u-2,
.otg-items-3 > .otg-item {
	width: 33.33334%;
}

.otg-items-4 > .otg-item {
	width: 25%;
}

.otg-items-5 > .otg-item {
	width: 20%;
}

.otg-u-1,
.otg-items-6 > .otg-item {
	width: 16.66667%;
}


.otg-items-6 > .otg-item:nth-child(6n+1),
.otg-items-5 > .otg-item:nth-child(5n+1),
.otg-items-4 > .otg-item:nth-child(4n+1),
.otg-items-3 > .otg-item:nth-child(3n+1),
.otg-items-2 > .otg-item:nth-child(2n+1),
.otg-items-1 > .otg-item {
	clear: both;
}

.otg-h-10 {
	margin-left: -5px;
	margin-right: -5px;
}

.otg-h-10 > .otg-item {
	padding-right: 5px;
	padding-left: 5px;
}

.otg-h-20 {
	margin-left: -10px;
	margin-right: -10px;
}

.otg-h-20 > .otg-item {
	padding-right: 10px;
	padding-left: 10px;
}

.otg-h-30 {
	margin-left: -15px;
	margin-right: -15px;
}

.otg-h-30 > .otg-item {
	padding-right: 15px;
	padding-left: 15px;
}





.otg-v-10 {
	margin-top: -5px;
	margin-bottom: -5px;
}

.otg-v-10 > .otg-item {
	margin-top: 5px;
	margin-bottom: 5px;
}

.otg-v-20 {
	margin-top: -10px;
	margin-bottom: -10px;
}

.otg-v-20 > .otg-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.otg-v-30 {
	margin-top: -15px;
	margin-bottom: -15px;
}

.otg-v-30 > .otg-item {
	margin-top: 15px;
	margin-bottom: 15px;
}





@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}

}

@media (max-width: 768px) {

	.otg-items-2 > .otg-item:nth-child(2n+1),
	.otg-items-3 > .otg-item:nth-child(3n+1),
	.otg-items-4 > .otg-item:nth-child(4n+1),
	.otg-items-5 > .otg-item:nth-child(5n+1),
	.otg-items-6 > .otg-item:nth-child(6n+1) {
		clear: none;
	}

	.otg-items-6 > .otg-item,
	.otg-items-5 > .otg-item,
	.otg-items-4 > .otg-item,
	.otg-items-3 > .otg-item {
		width: 50%;
	}

	.otg-items-2 > .otg-item:nth-child(2n+1),
	.otg-items-3 > .otg-item:nth-child(2n+1),
	.otg-items-4 > .otg-item:nth-child(2n+1),
	.otg-items-5 > .otg-item:nth-child(2n+1),
	.otg-items-6 > .otg-item:nth-child(2n+1) {
		clear: both;
	}
}

@media (max-width: 450px) {

	.otg-item {
		clear: none!important;
		float: none!important;
		width: 100%!important;
	}

	.otg-v-10,
	.otg-v-20,
	.otg-v-30 {
		margin-bottom: 0;
	}

}






/* For debug */

/*.otg.otg-h-10 > .otg-item {
	box-shadow: inset 0 0 0 10px rgba(255, 187, 115, 0.47);
}

.otg.otg-h-10 > .otg-item {
	box-shadow: 0 -5px 0 rgba(255, 187, 115, 0.47), 0 5px 0 rgba(255, 187, 115, 0.47);
}

.otg.otg-h-10.otg-h-10 > .otg-item {
	box-shadow: inset 0 0 0 10px rgba(255, 187, 115, 0.47), 0 -5px 0 rgba(255, 187, 115, 0.47), 0 5px 0 rgba(255, 187, 115, 0.47);
}

.otg {
	box-shadow: 0 0 0 1px violet;
}

.otg > .otg-item {
	box-shadow: 0 0 0 2px lime;
}*/















@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}





@keyframes ot-menu-slidein {
	from {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	to   {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* Firefox */
@-moz-keyframes ot-menu-slidein {
	from {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	to   {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* Safari and Chrome */
@-webkit-keyframes ot-menu-slidein {
	from {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	to   {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* Internet Explorer */
@-ms-keyframes ot-menu-slidein {
	from {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	to   {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}

/* Opera */
@-o-keyframes ot-menu-slidein {
	from {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	to   {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
}



@keyframes ot-menu-slideout {
	from {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	to   {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
}

/* Firefox */
@-moz-keyframes ot-menu-slideout {
	from {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	to   {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
}

/* Safari and Chrome */
@-webkit-keyframes ot-menu-slideout {
	from {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	to   {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
}

/* Internet Explorer */
@-ms-keyframes ot-menu-slideout {
	from {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	to   {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
}

/* Opera */
@-o-keyframes ot-menu-slideout {
	from {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	to   {
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
}


body.nomorefixd {
	overflow-x: hidden;
	overflow-y: scroll;
}

body.nomorefixd > #boxed {
	display: block;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
	position: fixed;
}

body > #boxed:before {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 121;
	background-color: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
}

body.nomorefixd > #boxed:before {
	display: block;
	-webkit-animation: fadeout 0.2s forwards;
	-moz-animation: fadeout 0.2s forwards;
	-ms-animation: fadeout 0.2s forwards;
	-o-animation: fadeout 0.2s forwards;
	animation: fadeout 0.2s forwards;
}

body.ot-responsive-menu-show > #boxed:before {
	display: block;
	-webkit-animation: fadein 0.2s forwards;
	-moz-animation: fadein 0.2s forwards;
	-ms-animation: fadein 0.2s forwards;
	-o-animation: fadein 0.2s forwards;
	animation: fadein 0.2s forwards;
}


body.nomorefixd .ot-responsive-menu-background,
body.nomorefixd .ot-responsive-menu-content {
	display: block;
}

.ot-responsive-menu-content-c-header,
.ot-responsive-menu-background,
.ot-responsive-menu-content {
	width: 300px;
}

.ot-responsive-menu-content {
	display: none;
	left: 0;
	top: 0;
	position: relative;
	background-color: #fff;
	max-width: 100%;
	z-index: 1;
	-webkit-animation: ot-menu-slideout 0.2s forwards;
	-moz-animation: ot-menu-slideout 0.2s forwards;
	-ms-animation: ot-menu-slideout 0.2s forwards;
	-o-animation: ot-menu-slideout 0.2s forwards;
	animation: ot-menu-slideout 0.2s forwards;
}

.ot-responsive-menu-background {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 0;
	background-color: #fff;
	-webkit-animation: ot-menu-slideout 0.2s forwards;
	-moz-animation: ot-menu-slideout 0.2s forwards;
	-ms-animation: ot-menu-slideout 0.2s forwards;
	-o-animation: ot-menu-slideout 0.2s forwards;
	animation: ot-menu-slideout 0.2s forwards;
}

body.ot-responsive-menu-show .ot-responsive-menu-content {
	display: block;
	-webkit-animation: ot-menu-slidein 0.2s forwards;
	-moz-animation: ot-menu-slidein 0.2s forwards;
	-ms-animation: ot-menu-slidein 0.2s forwards;
	-o-animation: ot-menu-slidein 0.2s forwards;
	animation: ot-menu-slidein 0.2s forwards;
}

body.ot-responsive-menu-show .ot-responsive-menu-background {
	display: block;
	-webkit-animation: ot-menu-slidein 0.2s forwards;
	-moz-animation: ot-menu-slidein 0.2s forwards;
	-ms-animation: ot-menu-slidein 0.2s forwards;
	-o-animation: ot-menu-slidein 0.2s forwards;
	animation: ot-menu-slidein 0.2s forwards;
}

.ot-responsive-menu-content-inner {
	display: block;
	position: relative;
	z-index: 2;
	background-color: inherit;
	padding-top: 50px;
}


.ot-responsive-menu-content-inner form {
	display: block;
	padding: 14px 20px;
	font-size: 16px;
	position: relative;
}

.ot-responsive-menu-content-inner form input[type=search],
.ot-responsive-menu-content-inner form input[type=text] {
	display: block;
	border-radius: 2px;
	border: 1px solid transparent;
	background-color: #f2f2f2;
	width: 100%;
	padding: 9px 36px 9px 12px;
	line-height: 28px;
	font-family: Arial;
	box-sizing: border-box;
	outline: none;
}

.ot-responsive-menu-content-inner form button,
.ot-responsive-menu-content-inner form input[type=submit] {
	display: block;
	position: absolute;
	right: 20px;
	top: 14px;
	margin: 0;
	padding: 9px 12px;
	line-height: 28px;
	background-color: transparent;
	color: #232323;
	border: 0;
	outline: none;
}

.ot-responsive-menu-content-inner form button:before {
	display: block;
	content: '\1F50D';
	font-family: "Arial"
}


.ot-responsive-menu-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	z-index: 120;
	box-shadow: 0 1px 0 rgba(0,0,0,.06),0 5px 10px rgba(0,0,0,.05);
	text-align: center;
	vertical-align: middle;
	background: #fff;
}

body.admin-bar .ot-responsive-menu-header {
	margin-top: 46px;
}

.ot-responsive-menu-header-logo {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: baseline;
	color: #828282;
	text-decoration: none;
}

.ot-responsive-menu-header-logo img {
	display: inline-block;
	height: 33px;
	line-height: 50px;
	max-height: 33px;
	vertical-align: middle;
}

.ot-responsive-menu-header-burger {
	position: absolute;
	left: 0;
	top: 0;
	line-height: inherit;
	height: inherit;
	font-size: 20px;
	padding: 0 12px;
	color: #fff;
}

.ot-responsive-menu-header-burger:before {
	display: block;
	content: "";
	position: relative;
	width: 20px;
	height: 3px;
	margin: 18px 4px;
	background: #B7B7B7;
	box-shadow: 0 .25em 0 0 #B7B7B7,0 .5em 0 0 #B7B7B7;
}

.ot-responsive-menu-header-burger:hover {
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

.ot-responsive-menu-content-c-header .ot-responsive-menu-header-burger {
	color: #aaa;
}


.ot-responsive-menu-content-c-header {
	display: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.06), 0 5px 10px rgba(0,0,0,0.05);
	height: 50px;
	position: fixed;
	z-index: 3;
	line-height: 50px;
	background-color: #fff;
	-webkit-animation: ot-menu-slideout 0.2s forwards;
	-moz-animation: ot-menu-slideout 0.2s forwards;
	-ms-animation: ot-menu-slideout 0.2s forwards;
	-o-animation: ot-menu-slideout 0.2s forwards;
	animation: ot-menu-slideout 0.2s forwards;
}

body.nomorefixd .ot-responsive-menu-content-c-header {
	display: block;
}

body.ot-responsive-menu-show .ot-responsive-menu-content-c-header {
	display: block;
	-webkit-animation: ot-menu-slidein 0.2s forwards;
	-moz-animation: ot-menu-slidein 0.2s forwards;
	-ms-animation: ot-menu-slidein 0.2s forwards;
	-o-animation: ot-menu-slidein 0.2s forwards;
	animation: ot-menu-slidein 0.2s forwards;
}

.ot-responsive-menu-content-inner ul {
	display: block;
	padding: 0;
	margin: 0;
}

.ot-responsive-menu-content-inner ul[data-res-menu-title]:before {
	display: block;
	content: attr(data-res-menu-title);
	padding: 14px 20px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #f2f2f2;
}

.ot-responsive-menu-content-inner ul.sub-menu:not(.ot-mega-menu) li,
.ot-responsive-menu-content-inner>ul>li {
	position: relative;
}

.ot-responsive-menu-content-inner {
	overflow: hidden;
}

/*.ot-responsive-menu-content-inner ul.sub-menu {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
}*/

.ot-responsive-menu-content-inner ul li {
	display: block;
	padding: 0;
	margin: 0;
}

.ot-responsive-menu-content-inner ul li a[href="#search-header"] {
	display: none;
}

.ot-responsive-menu-content-inner .widget .menu {
	margin-left: -20px;
	margin-right: -20px;
}

.ot-responsive-menu-content-inner li > a > i.material-icons {
	margin-right: 10px;
}

.ot-responsive-menu-content-inner .widget .menu li a i.material-icons,
.ot-responsive-menu-content-inner .widget .menu li a i.fa {
	margin-right: 10px;
	vertical-align: middle;
}

.ot-responsive-menu-content-inner .widget .menu li a,
.ot-responsive-menu-content-inner ul.sub-menu:not(.ot-mega-menu) li>a,
.ot-responsive-menu-content-inner>ul>li>a {
	display: block;
	padding: 14px 20px;
	font-size: 14px;
	color: #828282;
	text-decoration: none;
}

/*.ot-responsive-menu-content-inner ul li a span:before {
	display: block;
	float: right;
	font-family: 'Material Icons';
	content: '\E313';
	color: #ccc;
	line-height: 18px;
	font-size: 16px;
}*/

.ot-responsive-menu-content-inner .widget .menu li:hover a,
.ot-responsive-menu-content-inner ul.sub-menu:not(.ot-mega-menu) li>a:hover,
.ot-responsive-menu-content-inner>ul>li>a:hover {
	background-color: #f2f2f2;
	color: #232323;
}



#responsive-menu-holder ul.ot-mega-menu {
	padding: 20px;
	border-top: 2px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
	font-size: 14px;
}


#responsive-menu-holder .ot-menu-single-icon {
	background-color: transparent!important;
}

#responsive-menu-holder .lets-grid-wrap {
	display: block!important;
}

#responsive-menu-holder .lets-grid-wrap > .ot-grid-column {
	display: block!important;
	width: 100%;
	border: 0;
	box-shadow: none;
}

#responsive-menu-holder .lets-grid-wrap > .ot-grid-column .widget {
	margin-bottom: 30px;
	padding-bottom: 25px;
	border-bottom: 2px solid #eaeaea;
}

#responsive-menu-holder .lets-grid-wrap > .ot-grid-column:last-child .widget:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: 0;
}

#responsive-menu-holder .widget > h4 {
	margin-bottom: 30px;
	padding-bottom: 12px;
	border-bottom: 2px solid #eaeaea;
	font-size: 16px;
	color: #aaa;
}

#responsive-menu-holder .otg,
#responsive-menu-holder .otg-item {
	float: none;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
}

#responsive-menu-holder .otg:last-child,
#responsive-menu-holder .otg-item:last-child {
	margin-bottom: 0;
}


@media only screen and (max-width: 768px) {

	body, div, p, a, table, td {
		-webkit-text-size-adjust: none;
		letter-spacing: .015em;
	}
	
	.ot-responsive-menu-header {
		display: block;
	}

	#boxed {
		padding-top: 50px;
	}

}


@media only screen and (max-width: 600px) {

	.ot-responsive-menu-header {
		position: absolute;
	}
	
}



