
/* DESKTOP */
@media only screen and (max-width: 1200px) {

	.active.boxed {
		max-width: 100%;
	}
	
	.container {
		width: 98%;
	}
	
	.hyper-menu-inner h3,
	.hyper-menu-inner h3 a,
	.footer-menu-blocks h3 a,
	.footer-menu-blocks h3 {
		overflow: hidden;
		text-overflow: ellipsis;
	}

}


/* TABLET */
@media only screen and (max-width: 900px) {

	body, div, p, a, table, td {
		-webkit-text-size-adjust: none;
		letter-spacing: .015em;
	}
	
	#second-menu-wrapper,
	#second-menu-wrapper .otm>ul,
	#main-menu-wrapper .otm > ul {
		font-size: 14px;
	}
	
	.otm .sub-menu>li>a, .otm>ul>li>a {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.hyper-menu-inner h3,
	.hyper-menu-inner h3 a,
	.footer-menu-blocks h3 a,
	.footer-menu-blocks h3 {
		font-size: 16px;
	}
	
	.hyper-menu-langs a,
	.hyper-menu-socials a {
		font-size: 12px;
	}

}


/* PHONE */
@media only screen and (max-width: 768px) {

	#header,
	#second-menu-wrapper,
	#main-menu-wrapper {
		display: none;
	}

	.ot-title-block h2,
	.container-lightstrip .ot-title-block.text-me-center h2,
	.container-darkstrip .ot-title-block.text-me-center h2 {
		font-size: 18px;
	}
	
	.article-front-grid .item:nth-child(n+2) .item-overlay {
		padding: 14px;
	}
	
	.article-front-grid .item .item-overlay {
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
	}
	
	.article-front-grid .item:nth-child(n+2) .item-overlay strong,
	.article-front-grid .item-overlay strong {
		font-size: 14px;
	}
	
	.ot-article-list-large .item-content h3 {
		font-size: 16px;
	}
	
	p,
	.article-front-list .item h3,
	.ot-article-list-large .item-content p {
		font-size: 14px;
	}
	
	.article-front-grid .item-icon {
		bottom: 15px;
	}
	
	.footer-top-block > .left {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}
	
	.ot-w-comments-list .item .item-header,
	.ot-widget-article-list .item .item-header,
	.ot-w-article-list .item .item-header,
	.ot-article-list-small .item-header {
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
	
	.ot-w-comments-list .item .item-content,
	.ot-widget-article-list .item .item-content,
	.ot-w-article-list .item .item-content,
	.ot-article-list-small .item-content {
		margin-left: 0;
	}
	
	.footer-menu-blocks ul {
		margin-bottom: 20px;
	}
	
	.copyright-strip .left {
		display: none;
	}
	
	.footer-top-block > .right,
	.copyright-strip .right {
		display: block;
		float: none;
		text-align: center;
	}
	
	.widget .do-space {
		padding: 0;
		background-color: transparent
	}
	
	.widget .search-form > input {
	    padding: 12px 0px;
	}
	
	.widget > h3 {
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 14px;
	}
	
	.ot-w-article-list .item .item-meta .item-meta-item {
		line-height: 140%;
	}
	
	.ot-shortcode-social-icon {
		margin-bottom: 15px;
	}
	
	.big-error-message {
		padding: 0;
	}
	
	.big-error-message p {
		max-width: 100%;
	}
	
	.big-error-message strong {
		font-size: 20px;
	}
	
	.big-error-message h3 {
		font-size: 30px;
	}
	
	
	.ot-single-photo-block .ot-content-block {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.ot-single-photo-block-inner {
		min-height: 0;
		line-height: 100%;
	}
	
	.photo-gallery-thumbs-inner:after,
	.photo-gallery-thumbs-inner:before,
	.photo-gallery-nav-left,
	.photo-gallery-nav-right {
		display: none!important;
	}
	
	.photo-gallery-thumbs-inner {
		padding: 10px;
		margin: 0;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	
	.photo-gallery-thumbs-inner .item:last-child {
		margin-right: 0;
	}
	
	.article-head h1 {
		font-size: 20px;
	}
	
	.ot-outline-button.ot-outline-button-orange,
	.ot-outline-button.ot-outline-button-green {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	#comments li li .comment-block {
		padding-left: 0;
	}
	
	.ot-widget-flicker-grid {
		text-align: center;
	}

	.article-main-next-prev a {
		margin-bottom: 10px;
	}
	
	#comments .comment-text .time-stamp {
		float: none;
		margin-bottom: 6px;
	}
	
	.article-review-block-bad {
		padding-top: 20px;
	}
	
	.article-review-block-bad:before {
		display: none;
	}


	.ot-shortcode-tabs > ul li {
		counter-increment: section;
	}

	.ot-shortcode-tabs > ul li a {
		font-size: 0!important;
	}

	.ot-shortcode-tabs > ul li a:before {
		font-size: 14px!important;
		content: counter(section);
	}
	
	.ot-shortcode-tabs:not(.style-2)>ul>li a i.fa, .ot-shortcode-tabs:not(.style-2)>ul>li a i.ti {
		display: none;
	}
	
	.ot-shortcode-tabs:not(.style-2) {
		padding: 20px;
	}
	
	.ot-shortcode-tabs:not(.style-2)>div {
		margin-left: 0;
		padding: 0;
	}
	
	.ot-shortcode-tabs:not(.style-2)>div:before {
		display: none;
	}
	
	.ot-shortcode-tabs:not(.style-2)>ul {
		float: none;
		width: 100%;
		border: 0;
		padding-bottom: 10px;
		border-bottom: 2px solid #EFEFEF;
		margin-bottom: 20px;
	}
	
	.ot-shortcode-tabs:not(.style-2)>ul>li {
		border: 0;
		float: none;
		display: inline-block;
		width: auto;
		margin-bottom: 0;
	}
	
	.shortcode-content ol {
		padding-left: 20px;
	}

}


/* PHONE */
@media only screen and (max-width: 600px) {

	.article-front-grid .item .item-overlay:before,
	.article-front-grid .item canvas,
	.item-overlay-blur canvas,
	.demo-settings {
		display: none!important;
	}
	
	.article-front-grid .item:nth-child(n+2) .item-overlay,
	.article-front-grid .item .item-overlay {
		display: block;
		position: relative;
		padding: 20px 0 0 0;
		color: #444;
	}
	
	.article-front-grid .item-icon {
		bottom: auto;
		top: 15px;
		background-color: rgba(255,255,255,0.9);
		border-color: transparent!important;
	}
	
	.otg-u-2 .otg > div {
		float: none;
		width: 100%;
		clear: both;
	}
	
	.footer-menu-blocks {
		text-align: center;
	}
	
	.ot-form-login {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.ot-form-login h1 {
		margin-right: -15px;
		margin-left: -15px;
		font-size: 15px;
	}
	
	.hyper-menu-langs a {
		margin-bottom: 10px;
	}
	
	.ot-panel-pager .page-numbers {
		margin-bottom: 10px;
	}
	
	.ot-panel-pager .ot-pager-button {
		float: none;
		font-size: 13px;
		margin-bottom: 15px;
	}
	
	.article-review-score {
		width: 100%;
		float: none;
	}
	
	.article-review-content {
		margin-left: 0;
		margin-top: 20px;
		padding-left: 0;
	}
	
	.comments-big-message {
		width: 100%;
	}
	
	.article-author-block .item-header {
		float: none;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.article-author-block .item-content {
		margin-left: 0;
		text-align: center;
	}

}
