/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"SolaimanLipi";
        src:url("SolaimanLipi_29-05-06.eot?") 
        format("eot"),url("SolaimanLipi_29-05-06.woff") 
        format("woff"),url("SolaimanLipi_29-05-06.ttf") 
        format("truetype"),url("SolaimanLipi_29-05-06.svg#SolaimanLipi") 
        format("svg");
        font-weight:normal;
        font-style:normal;
}
body{color: #000;}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
} 

/* pagination */
ul.pagination {
	display: block;
	padding-top: 30px;
	margin-top: 30px;
	border-top: 2px solid #f2f2f2;
	text-align: center;
	cursor: default;
	clear: both;
}

ul.pagination li {
    display: inline-block;
    padding: 11px 24px;
    font-size: 15px;
    font-weight: 700;
    background-color: #f4f4f4;
    letter-spacing: -.4px;
    color: #383B43;
    border-radius: 3px;
}
ul.pagination li.active{
      background-color: #383B43;
      color: #fff;
}
.pagination a.ot-pager-button.active,
.pagination a.ot-pager-button:hover {
    background-color: #383B43;
    color: #fff;
}

.pagination p {
    padding: 11px 0;
}

.pagination .ot-pager-button.right i.fa,
.pagination .page-numbers.next i.fa,
.pagination .page-numbers.next {
    margin-left: 8px;
}

.pagination .ot-pager-button.left i.fa,
.pagination .page-numbers.prev i.fa,
.pagination .page-numbers.prev {
    margin-right: 8px;
}

.pagination .page-numbers {
    display: inline-block;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    background-color: #f4f4f4;
    letter-spacing: -.4px;
    color: #383B43;
    border-radius: 3px;
}

.pagination a.page-numbers:hover,
.pagination span.page-numbers {
    background-color: #383B43;
    color: #fff;
}
.fb_iframe_widget {overflow: hidden;}
div.fb-comments.fb_iframe_widget span {margin-bottom: -35px;}
.ot-article-list-large .item-content p, a, .hd-article-block-grid .item-meta, .article-head-meta .meta-item,
.ot-w-article-list .item .item-meta .item-meta-item, .article-head h1, h1, h2, h3, h4, h5, h6{
    color: #000;
}

/*custom header footer option*/

#header, #footer {
	background-color: #f9c801;
	/*color: #fff;*/
}

#hyper-menu > li > a:first-child i.material-icons{
/*       background-color: #E0B401;*/
      /*color:#2f323b;*/
}
#hyper-menu > li:hover > a {
	background-color: #56585F;
	/*color: #56585F;*/
}

#header a.custom-color, #hyper-menu > li > a.custom-color{
   color:#2f323b;
}

#header a.custom-color:hover,  #hyper-menu > li > a.custom-color:hover{
  color:#fff;
}
#footer, #footer a{
    color:#2f323b;
}
#footer a:hover{
    color:#2f323b;
}
.footer-menu-blocks ul li a{
    color:#2f323b;
}
.footer-menu-blocks ul li a:link,
.footer-menu-blocks ul li a:hover,
.footer-menu-blocks ul li a:visited,
.footer-menu-blocks ul li a:active{
     color:#2f323b;
}
#footer a:hover{
    color:#2f323b;
}
.ot-title-block{
    border-left:4px solid #f9c801;
}

.text-right{
    text-align: right;
}
.text-small{
    colro:#ccc;
    font-size: 11px;
}