
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row:after {
	display: block;
	clear: both;
	content: '';
}

.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column12{width:100%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column11{width:91.48936170212765%;*width:91.43617021276594%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column10{width:82.97872340425532%;*width:82.92553191489361%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column9{width:74.46808510638297%;*width:74.41489361702126%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column8{width:65.95744680851064%;*width:65.90425531914893%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column7{width:57.44680851063829%;*width:57.39361702127659%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column6{width:48.93617021276595%;*width:48.88297872340425%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column5{width:40.42553191489362%;*width:40.37234042553192%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column4{width:31.914893617021278%;*width:31.861702127659576%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column3{width:23.404255319148934%;*width:23.351063829787233%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column2{width:14.893617021276595%;*width:14.840425531914894%;}
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row .column1{width:6.382978723404255%;*width:6.329787234042553%;}

.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row > li,
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row > div {
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row {
	margin-bottom: 30px;
}

.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row > li:first-child,
.ot-shortcode-paragraph-row.ot-shortcode-paragraph-row > div:first-child {
	margin-left: 0px;
}


.short-icon-text {
	display: block;
	margin-bottom: 8px;
	font-weight: 900;
}

.short-icon-text:after {
	display: block;
	clear: both;
	content: '';
}

.short-icon-text i.po,
.short-icon-text i.ti,
.short-icon-text i.fa {
	float: left;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #232323;
	border-radius: 50%;
	color: #fff;
}

.short-icon-text span {
	display: block;
	margin-left: 38px;
	padding-top: 2px;
}

.pos-photo-gallery {
	display: block;
	margin-bottom: 20px;
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

.pos-photo-gallery .item {
	display: block;
	float: left;
	width: 18.972%;
	margin-left: 1.285%;
	box-shadow: none;
}

.pos-photo-gallery .item:nth-child(5n+1) {
	margin-left: 0;
	clear: both;
}

.pos-photo-gallery:after,
.pos-photo-gallery .item-list:after {
	display: block;
	clear: both;
	content: '';
}

.pos-photo-gallery > a.right {
	display: block;
	font-weight: 900;
	margin-top: 15px;
	font-size: 14px;
	color: #256dc1;
	float: right;
	box-shadow: none;
}

.pos-photo-gallery > a.right i.fa {
	font-size: 12px;
	padding-left: 6px;
}

.pos-photo-gallery > a.right:hover {
	color: #232323;
}


.ot-spacer {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	vertical-align: bottom;
	font-size: 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #ccc;
	line-height: 100%;
	background: #DCDCDC;
	height: 1px;
	position: relative;
}

.ot-spacer i.fa {
	display: inline-block;
	margin-bottom: 4px;
	margin-top: -3px;
	font-size: 20px;
	line-height: 100%;
	background-color: #fff;
	padding: 0 20px;
	position: relative;
	z-index: 2;
	height: 6px;
	vertical-align: middle;
}

.ot-spacer i.fa:before {
	position: relative;
	margin-top: -6px;
	display: block;
}

.ot-spacer strong {
	display: inline-block;
	margin-bottom: 6px;
	margin-top: -10px;
	line-height: 150%;
	background-color: #fff;
	padding: 0 20px;
	font-size: 13px;
	position: relative;
	z-index: 2;
	vertical-align: top;
}

.ot-spacer strong:nth-child(n+2),
.ot-spacer i.fa:nth-child(n+2) {
	padding-left: 0px;
}

.ot-spacer.spacer-1 {
	height: 1px;
}

.ot-spacer.spacer-2 {
	height: 3px;
}

.ot-spacer.spacer-3 {
	height: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.ot-spacer.spacer-3:before {
	display: block;
	position: absolute;
	z-index: 1;
	content: '';
	height: 2px;
	background: #f8f8f8;
	left: 0px;
	top: 2px;
	width: 100%;
}


a.button.ot-shortcode-button,
.button.ot-shortcode-button {
	display: inline-block;
	padding: 12px 18px;
	font-size: 14px;
	font-weight: 700;
	background-color: #337ab7;
	letter-spacing: -.4px;
	color: #fff;
	border-radius: 3px;
	border-bottom: 1px solid #dcdcdc;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	box-shadow: inset 0 120px 100px -100px rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.3);
	border: 0;
	cursor: pointer;
	line-height: 140%;
}

.button.ot-shortcode-button:hover {
	box-shadow: inset 0 120px 100px -100px rgba(255,255,255,.2),inset 0 -1px 0 rgba(0,0,0,.3),inset 0 0 0 100px rgba(255,255,255,.15);
}

.button.ot-shortcode-button:active {
    box-shadow: inset 0 120px 100px -100px rgba(0,0,0,.08);
}




p .button.ot-shortcode-button.button-outline,
p .button.ot-shortcode-button {
	margin-right: 8px;
}

.button.ot-shortcode-button.button-outline i.left,
.button.ot-shortcode-button i.left {
	padding-right: 7px;
}

.button.ot-shortcode-button.button-outline i.right,
.button.ot-shortcode-button i.right {
	padding-left: 7px;
}

.button.ot-shortcode-button.button-outline {
	background-color: transparent!important;
	border: 0 solid #337ab7;
	box-shadow: none;
	text-shadow: none;
	color: #337ab7;
	position: relative;
}

.button.ot-shortcode-button.button-outline:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.button.ot-shortcode-button.button-outline:active {
	opacity: 1;
	filter: alpha(opacity=100);
}

.button.ot-shortcode-button.button-outline:before {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	border: 2px solid transparent;
	border-color: inherit;
	border-radius: inherit;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	border-color: inherit;
	border-radius: inherit;
}

.button.ot-shortcode-button.button-outline:hover:before {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.button.ot-shortcode-button.button-outline:after {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	border: 2px solid rgba(0,0,0,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	border-color: inherit;
	border-radius: inherit;
}

.button.ot-shortcode-button.button-outline:active:after {
	border: 2px solid rgba(0,0,0,0.2);
}


.ot-shortcode-tabs p:first-child:empty {
	display: none;
}

.ot-shortcode-tabs p:first-child:empty + h6,
.ot-shortcode-tabs h6:first-child,
.ot-shortcode-tabs p:first-child:empty + h5,
.ot-shortcode-tabs h5:first-child,
.ot-shortcode-tabs p:first-child:empty + h4,
.ot-shortcode-tabs h4:first-child,
.ot-shortcode-tabs p:first-child:empty + h3,
.ot-shortcode-tabs h3:first-child,
.ot-shortcode-tabs p:first-child:empty + h2,
.ot-shortcode-tabs h2:first-child,
.ot-shortcode-tabs p:first-child:empty + h1,
.ot-shortcode-tabs h1:first-child {
	margin-top: 0;
	clear: none;
}


.ot-shortcode-tabs:not(.style-2) {
	display: block;
	background-color: #F9F9F9;
	margin-bottom: 25px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.06);
	border-radius: 3px;
	padding: 40px;
}

.ot-shortcode-tabs:not(.style-2):after {
	display: block;
	clear: both;
	content: '';
}

.ot-shortcode-tabs:not(.style-2) > div {
	display: none;
	margin-left: 29%;
	position: relative;
	padding-left: 40px;
}

.ot-shortcode-tabs:not(.style-2) > div:before {
	display: block;
	content: '';
	position: absolute;
	top: 0px;
	left: -2px;
	height: 100%;
	width: 2px;
	background-color: #efefef;
}

.ot-shortcode-tabs:not(.style-2) > div.active {
	display: block;
}

.ot-shortcode-tabs > div p:last-child {
	margin-bottom: 0px;
}

.ot-shortcode-tabs:not(.style-2) > ul {
	display: block;
	float: left;
	width: 29%;
	position: relative;
	z-index: 2;
	margin-bottom: 0px;
	border-right: 2px solid #efefef;
	padding-left: 0;
}

.ot-shortcode-tabs:not(.style-2) > ul > li {
	display: block;
	color: #9e9e9e;
	font-weight: bold;
	font-size: 16px;
	padding-right: 20px;
	margin-bottom: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right: 2px solid transparent;
	margin-right: -2px;
	margin-top: 0px;
}

.ot-shortcode-tabs:not(.style-2) > ul > li:last-child {
	margin-bottom: 0px;
}

.ot-shortcode-tabs:not(.style-2) > ul > li a {
	color: inherit;
	display: block;
	text-decoration: none;
	border-bottom: 0!important;
	box-shadow: none!important;
	font-size: 14px;
	outline: none;
}

.ot-shortcode-tabs:not(.style-2) > ul > li a i.ti,
.ot-shortcode-tabs:not(.style-2) > ul > li a i.fa {
	display: inline-block;
	padding-right: 10px;
	vertical-align: inherit;
}

.ot-shortcode-tabs:not(.style-2) > ul > li:not(.active) a:hover {
	color: #232323;
}

.ot-shortcode-tabs:not(.style-2) > ul > li.active {
	color: #256DC1;
	border-color: #256DC1;
}




.ot-shortcode-tabs.style-2 {
	display: block;
	margin-bottom: 25px;
}

.ot-shortcode-tabs.style-2 > ul {
	display: block;
	margin-bottom: 0px;
	font-size: 0;
	padding-left: 0;
}

.ot-shortcode-tabs.style-2 > ul li {
	display: inline-block;
	font-size: 14px;
	margin-top: 0px;
}

.ot-shortcode-tabs.style-2 > ul li a {
	display: block;
	line-height: 100%;
	background-color: transparent;
	color: #8b8b8b;
	font-weight: bold;
	padding: 18px 16px;
	border: 0;
	/*border-bottom: 1px solid #EBEBEB;*/
	border-bottom: 0;
	box-shadow: inset 0 -3px 0 #F8F8F8, inset -1px 0 0 transparent, inset 1px 0 0 transparent, inset 0 1px 0 transparent;
	margin: 0;
	box-shadow: none;
}

.ot-shortcode-tabs.style-2 > ul li a i.fa {
	margin-right: 8px;
}

.ot-shortcode-tabs.style-2 > ul li:hover a {
	background-color: #F9F9F9;
}

.ot-shortcode-tabs.style-2 > ul li.active a {
	background: #F9F9F9;
	box-shadow: none;
	outline: none;
	/*box-shadow: inset 0 -3px 0 transparent, inset -1px 0 0 #ebebeb, inset 1px 0 0 #ebebeb, inset 0 1px 0 #ebebeb;*/
}

.ot-shortcode-tabs.style-2 > div {
	display: none;
	padding: 20px;
	/*border: 1px solid #ebebeb;*/
	font-size: 14px;
	background: #F9F9F9;
	box-shadow: 0 2px 0 rgba(0,0,0,.06);
}

.ot-shortcode-tabs.style-2 > div.active {
	display: block;
}


.ot-shortcode-alert-message {
	font-size: 14px;
	padding: 13px 16px;
	margin-bottom: 15px;
	position: relative;
}

.alert-message.alert-green:before {
	background-color: #70cd37;
}

.alert-message.alert-green strong {
    color: #70cd37;
}

.alert-message.alert-red:before {
    background-color: #e83b3b;
}

.alert-message.alert-red strong {
    color: #e83b3b;
}

.alert-message strong {
    color: #eca93f;
    position: relative;
    z-index: 2;
}

.alert-message:before {
	background-color: #eca93f;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	z-index: 0;
	position: absolute;
	opacity: .1;
	filter: alpha(opacity=10);
}

.ot-shortcode-alert-message p {
	margin-bottom: 0px;
}

.ot-shortcode-alert-message.alert-green.alert-message-outline {
	color: #a3c12a;
	border-color: #a3c12a;
}

.ot-shortcode-alert-message.alert-red.alert-message-outline {
	color: #e14840;
	border-color: #e14840;
}

.ot-shortcode-alert-message.alert-message-outline {
	box-shadow: none!important;
	background: transparent;
	border: 3px solid #eca93f;
	color: #eca93f;
}

.ot-shortcode-alert-message.alert-message-outline:before {
	display: none;
}

.ot-shortcode-alert-message.alert-big {
	position: relative;
}

.ot-shortcode-alert-message.alert-message-outline strong {
	color: inherit;
}

.ot-shortcode-alert-message.alert-big strong {
	display: block;
	margin-bottom: 8px;
	font-size: 20px;
}

.ot-shortcode-alert-message.alert-big strong:last-child {
	margin-bottom: 0px;
}

.ot-shortcode-alert-message.alert-big .close-alert {
	display: block;
	box-shadow: none;
	background-color: rgba(0,0,0,0.15);
	color: #fff;
	padding: 0px;
	border: 0px;
	border-radius: 0px;
	width: 26px;
	height: 26px;
	text-align: center;
	margin: 0px;
	z-index: 5;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 15px;
	line-height: 100%;
}

.ot-shortcode-alert-message.alert-big .close-alert:hover {
	background-color: rgba(0,0,0,0.3);
}

.ot-shortcode-alert-message.alert-message-outline {
	box-shadow: inset 0 0 0 100px #fff;
}

.ot-shortcode-alert-message.alert-message-outline.alert-big .close-alert {
	background-color: #eca93f;
}

.ot-shortcode-alert-message.alert-message-outline.alert-big .close-alert:hover {
	box-shadow: inset 0 0 0 50px rgba(0,0,0,0.1);
}

.ot-shortcode-alert-message.alert-green.alert-message-outline.alert-big .close-alert {
	background: #a3c12a;
}

.ot-shortcode-alert-message.alert-red.alert-message-outline.alert-big .close-alert {
	background: #e14840;
}



blockquote.blockquote-style-2 {
	border-left: 0px;
	padding-left: 50px;
	position: relative;
}

blockquote.blockquote-style-2:before {
	display: block;
	position: absolute;
	content: '"';
	font-family: 'Arvo', serif;
	left: 0px;
	line-height: 100%;
	font-size: 70px;
}

blockquote.blockquote-style-2.blockquote-reverse {
	padding-left: 0px;
	padding-right: 50px;
	border-right: 0px;
}

blockquote.blockquote-style-2.blockquote-reverse:before {
	display: block;
	position: absolute;
	content: '"';
	font-family: 'Arvo', serif;
	left: auto;
	right: 0px;
	line-height: 100%;
	font-size: 70px;
}



.ot-shortcode-accordion {
	display: block;
	margin-bottom: 20px;
}

.ot-shortcode-accordion > div {
	padding-bottom: 20px;
	position: relative;
}

.ot-shortcode-accordion > div:last-child {
	padding-bottom: 0px;
}

.ot-shortcode-accordion > div > a {
	display: block;
	color: #313131;
	font-weight: 900;
	letter-spacing: -0.4px;
	padding-left: 30px;
	position: relative;
	box-shadow: none;
	outline: none;
}

.ot-shortcode-accordion > div > a:before {
	display: block;
	position: absolute;
	text-align: center;
	content: '\f0da';
	width: 20px;
	height: 20px;
	font-size: 9px;
	background-color: #313131;
	font-weight: normal;
	color: #fff;
	line-height: 20px;
	left: 0px;
	top: 1px;
	border-radius: 50%;
	font-family: "FontAwesome";
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.ot-shortcode-accordion > div > a:hover:before {
	background-color: #A6A9AD;
}

.ot-shortcode-accordion > div.active > a:before {
	background-color: #256DC1;
	content: '\f00d';
}

.ot-shortcode-accordion > div:after {
	display: block;
	position: absolute;
	content: '';
	left: 9px;
	top: 26px;
	bottom: 5px;
	width: 1px;
	background-color: #E5E5E5;
}

.ot-shortcode-accordion > div > a:hover {
	color: #A6A9AD;
}

.ot-shortcode-accordion > div.active > a {
	color: #256DC1;
}

.ot-shortcode-accordion > div > div {
	display: none;
	padding: 14px 20px 0 30px;
	line-height: 150%;
	font-size: 14px;
}

.ot-shortcode-accordion > div > div p:last-child {
	margin-bottom: 0px;
}

.widget .ot-shortcode-accordion > div > div p {
	font-size: 14px;
}



.portus-main-article-block ol,
.portus-main-article-block ul {
	margin-bottom: 25px;
	line-height: 150%;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.4px;
}

.portus-main-article-block ol {
	list-style: decimal;
	padding-left: 20px;
}

.fa-li {
	margin-left: -7px;
	margin-top: 2px;
	position: absolute;
}

.portus-main-article-block ol li,
.portus-main-article-block ul li {
	margin-top: 10px;
}

.portus-main-article-block ol > li:first-child,
.portus-main-article-block ul > li:first-child {
	margin-top: 0;
}

.ot-shortcode-marker,
.portus-main-article-block .marker {
	display: inline-block;
	color: #fff;
	padding: 0 6px;
	border-radius: 2px;
}



.ot-shortcode-social-icon {
	display: inline-block;
	margin-right: 10px;
	font-size: 14px;
	position: relative;
	padding: 7px 20px 7px 10px;
	border-radius: 3px;
	box-shadow: none!important;
}

.ot-shortcode-social-icon:before {
	display: block;
	position: absolute;
	z-index: 0;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	opacity: 0.1;
}

.ot-shortcode-social-icon i.ti,
.ot-shortcode-social-icon i.fa {
	display: block;
	float: left;
	font-size: 24px;
	padding: 0 7px;
	z-index: 2;
	line-height: 150%;
}

.ot-shortcode-social-icon span,
.ot-shortcode-social-icon strong {
	display: block;
	margin-left: 40px;
	position: relative;
	z-index: 2;
}

.ot-shortcode-social-icon strong {
	font-size: 15px;
	font-weight: 900;
	line-height: 135%;
}

.ot-shortcode-social-icon span {
	font-size: 12px;
	font-weight: normal;
	line-height: 135%;
}

.fa-ul {
	padding-left: 0;
	margin-left: 2.14285714em!important;
	list-style-type: none;
}




.hover-color-facebook {
	color: #3b5998;
}

.hover-color-facebook.soc-bef:before,
.hover-color-facebook:hover {
	background-color: #3b5998!important;
	color: #fff;
}

.hover-color-twitter {
	color: #00aced;
}

.hover-color-twitter.soc-bef:before,
.hover-color-twitter:hover {
	background-color: #00aced!important;
	color: #fff;
}

.hover-color-google-plus {
	color: #dd4b39;
}

.hover-color-google-plus.soc-bef:before,
.hover-color-google-plus:hover {
	background-color: #dd4b39!important;
	color: #fff;
}

.hover-color-linkedin {
	color: #007bb6;
}

.hover-color-linkedin.soc-bef:before,
.hover-color-linkedin:hover {
	background-color: #007bb6!important;
	color: #fff;
}

.hover-color-pinterest {
	color: #cb2027;
}

.hover-color-pinterest.soc-bef:before,
.hover-color-pinterest:hover {
	background-color: #cb2027!important;
	color: #fff;
}

.hover-color-rss {
	color: #ffaa4f;
}

.hover-color-rss.soc-bef:before,
.hover-color-rss:hover {
	background-color: #ffaa4f!important;
	color: #fff;
}

.hover-color-dribbble {
	color: #ea4c89;
}

.hover-color-dribbble.soc-bef:before,
.hover-color-dribbble:hover {
	background-color: #ea4c89!important;
	color: #fff;
}

.hover-color-youtube {
	color: #bb0000;
}

.hover-color-youtube.soc-bef:before,
.hover-color-youtube:hover {
	background-color: #bb0000!important;
	color: #fff;
}

.hover-color-instagram {
	color: #517fa4;
}

.hover-color-instagram.soc-bef:before,
.hover-color-instagram:hover {
	background-color: #517fa4!important;
	color: #fff;
}

.hover-color-flickr {
	color: #ff0084;
}

.hover-color-flickr.soc-bef:before,
.hover-color-flickr:hover {
	background-color: #ff0084!important;
	color: #fff;
}

.hover-color-vk {
	color: #45668e;
}

.hover-color-vk.soc-bef:before,
.hover-color-vk:hover {
	background-color: #45668e!important;
	color: #fff;
}

.hover-color-vimeo {
	color: #aad450;
}

.hover-color-vimeo.soc-bef:before,
.hover-color-vimeo:hover {
	background-color: #aad450!important;
	color: #fff;
}

.hover-color-tumblr {
	color: #32506d;
}

.hover-color-tumblr.soc-bef:before,
.hover-color-tumblr:hover {
	background-color: #32506d!important;
	color: #fff;
}

.hover-color-skype {
	color: #12A5F4;
}

.hover-color-skype.soc-bef:before,
.hover-color-skype:hover {
	background-color: #12A5F4!important;
	color: #fff;
}




